<div class="container-fluid h-100 control-panel-dialog">
  <div matDialogTitle class="d-flex flex-row align-items-center p-3" [formGroup]="addReportForm">
    <h4>Добавление отчета об оперативной обстановке на {{osr?.selectedPeriod()}}</h4>
    <!--
    <mat-form-field class="ml-3 pb-0" floatLabel="never">
      <mat-select placeholder="Время отчета" formControlName="time" [(ngModel)]="newReport.periodTime">
        <mat-option *ngFor="let period of osr.periods() | timePeriods:osr.reports()" [value]="period">{{period}}</mat-option>
      </mat-select>
      <mat-error *ngIf="addReportForm.controls['time'].invalid">Вы не выбрали время отчета</mat-error>
    </mat-form-field>
    -->
  </div>

  <mat-dialog-content>
    <mat-tab-group >

      <!-- Start: Вкладка с данными об оборудовании 35-150 кВ -->
      <mat-tab label="Оборудование 35-150 кВ">
        <div class="p-3">
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <colgroup span="2"></colgroup>
            <tr>
              <th colspan="4" scope="colgroup">Отключенное оборудование по сети 35-150 кВ</th>
              <th colspan="4" scope="colgroup">Последствия для потребителей по сети 35-150 кВ</th>
            </tr>
            <tr>
              <th scope="col" class="font-weight-normal">ЛЭП 110-150 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">ЛЭП 35 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">ПС 110 -150 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">ПС 35 кВ, шт.</th>

              <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">Население, чел</th>
              <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
              <th scope="col" class="font-weight-normal">СЗО, шт</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100" focused="true">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="lep_110_150"
                         [(ngModel)]="newReport.equipment_35_150.lep_110_150">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="lep_35"
                         [(ngModel)]="newReport.equipment_35_150.lep_35">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="ps_110_150"
                         [(ngModel)]="newReport.equipment_35_150.ps_110_150">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="ps_35"
                         [(ngModel)]="newReport.equipment_35_150.ps_35">
                </mat-form-field>
              </td>

              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="tp_6_20_effect_110_150"
                         [(ngModel)]="newReport.equipment_35_150.effect.tp_6_20">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="population_effect_110_150"
                         [(ngModel)]="newReport.equipment_35_150.effect.population">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         step="0.1"
                         formControlName="power_effect_110_150"
                         [(ngModel)]="newReport.equipment_35_150.effect.power">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="szo_effect_110_150"
                         [(ngModel)]="newReport.equipment_35_150.effect.szo">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <!-- End: Вкладка с данными об оборудовании 35-150 кВ  -->

      <!-- Start: Вкладка с данными об оборудовании в распределительной сети -->
      <mat-tab label="Распред. сеть">
        <div class="p-3">
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <tr>
              <th colspan="2" scope="colgroup">Распределительная сеть</th>
              <th colspan="3" scope="colgroup">Последствия для потребителей по распределительной сети</th>
            </tr>
            <tr>
              <th scope="col" class="font-weight-normal">ЛЭП 6-20 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">Население, чел</th>
              <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
              <th scope="col" class="font-weight-normal">СЗО, шт</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="lep_6_20"
                         [(ngModel)]="newReport.equipment_network.lep_6_20">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="tp_6_20"
                         [(ngModel)]="newReport.equipment_network.tp_6_20">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="population_effect_network"
                         [(ngModel)]="newReport.equipment_network.effect.population">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         step="0.1"
                         formControlName="power_effect_network"
                         [(ngModel)]="newReport.equipment_network.effect.power">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         step="1"
                         formControlName="szo_effect_network"
                         [(ngModel)]="newReport.equipment_network.effect.szo">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <!-- End: Вкладка с данными об оборудовании в распределительной сети -->

      <!-- Start: Вкладка с данными о задействованных ресурсах и ИРСЭ -->
      <mat-tab label="Задействованные ресурсы">
        <div class="p-3">
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <tr>
              <th colspan="3" scope="colgroup">Задействованные РИСЭ</th>
              <th colspan="3" scope="colgroup">Задействованные силы и средства</th>
            </tr>
            <tr>
              <th scope="col" class="font-weight-normal">Количество, шт</th>
              <th scope="col" class="font-weight-normal">P∑, кВт</th>
              <th scope="col" class="font-weight-normal">Запитано от РИСЭ, чел</th>
              <th scope="col" class="font-weight-normal">Бригад, шт</th>
              <th scope="col" class="font-weight-normal">Человек</th>
              <th scope="col" class="font-weight-normal">Единиц техники, шт</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_rise"
                         [(ngModel)]="newReport.resources.rise">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_rise_sum_power"
                         [(ngModel)]="newReport.resources.riseSumPower">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_rise_people"
                         [(ngModel)]="newReport.resources.risePeople">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_brigades"
                         [(ngModel)]="newReport.resources.brigades">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_people"
                         [(ngModel)]="newReport.resources.people">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_technics"
                         [(ngModel)]="newReport.resources.technics">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <!-- End: Вкладка с данными о задействованных ресурсах и РИСЭ -->

      <!-- Start: Вкладка с данными о нарушениях с нарастающим итогом -->
      <mat-tab label="Нарушения">
        <div class="p-3">
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <tr>
              <th rowspan="2" scope="colgroup">Всего 6 кВ и выше</th>
              <th colspan="3" scope="colgroup">Основная сеть 35 кВ и выше</th>
              <th rowspan="2" scope="colgroup">ЛЭП<br> р/с</th>
              <th rowspan="2" scope="colgroup">ТН с погаш.</th>
              <th colspan="3" scope="colgroup">Сеть 0,4 кВ</th>
              <th colspan="2" scope="colgroup">Население, чел</th>
            </tr>
            <tr>
              <th scope="col" class="font-weight-normal">УАПВ</th>
              <th scope="col" class="font-weight-normal">НАПВ</th>
              <th scope="col" class="font-weight-normal">С обесточ.</th>
              <!-- <th scope="col" class="font-weight-normal">Итого</th> -->

              <th scope="col" class="font-weight-normal">С 6-00</th>
              <th scope="col" class="font-weight-normal">Отключены на срез</th>
              <th scope="col" class="font-weight-normal">Более 3 часов</th>

              <th scope="col" class="font-weight-normal">По сети 0,4 кВ на срез</th>
              <th scope="col" class="font-weight-normal">По сети 0,4 кВ (более 3 часов)</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_total_6"
                         [(ngModel)]="newReport.violations.total_6">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_uapv_35"
                         [(ngModel)]="newReport.violations.uapv_35">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_napv_35"
                         [(ngModel)]="newReport.violations.napv_35">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_power_off_35"
                         [(ngModel)]="newReport.violations.power_off_35">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_lep_rs"
                         [(ngModel)]="newReport.violations.lep_rs">
                </mat-form-field>
              </td>

              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_tn_cancel"
                         [(ngModel)]="newReport.violations.tn_cancel">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_from_6_04"
                         [(ngModel)]="newReport.violations.from_6_04">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_power_off_04"
                         [(ngModel)]="newReport.violations.power_off_04">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_greater_3_04"
                         [(ngModel)]="newReport.violations.greater_3_04">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_population_srez_o4"
                         [(ngModel)]="newReport.violations.population_srez_04">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_population_greater_3_04"
                         [(ngModel)]="newReport.violations.population_greater_3_04">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <!-- End: Вкладка с данными о нарушениях с нарастающим итогом -->

      <!-- Start: Вкладка с данными о погодных условиях -->
      <mat-tab label="Погода">
        <div class="p-3">
          <div class="row no-gutters">
            <div class="col-12 pt-3">
              <mat-radio-group class="d-flex flex-row w-100" [(ngModel)]="useWeatherSummary" (change)="weatherInputModeSelect($event)">
                <mat-radio-button
                  [value]="false"
                  class="d-flex flex-row w-50 justify-content-center border-right">
                  Ввести данные о погоде вручную
                </mat-radio-button>
                <mat-radio-button
                  [value]="true"
                  class="d-flex flex-row w-50 justify-content-center">
                  <div class="d-flex flex-column pl-2">
                    <div>Использовать данные из погодной сводки</div>
                    <div class="small text-muted">Сводка от {{osr.selectedCompany().weatherSummary.dateCreated_ | date:'dd.MM.yyyy, hh:mm'}}</div>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="d-flex flex-column justify-content-between col-6 border-right pl-3 pr-3 pt-4">
              <div class="d-flex flex-column justify-content-between" style="flex: 1;">
                <form [formGroup]="addReportForm">
                  <mat-form-field class="w-100">
                    <input matInput
                           type="number"
                           formControlName="weather_min"
                           [(ngModel)]="newReport.weather.min"
                           placeholder="Минимальная температура">
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <input matInput
                           type="number"
                           formControlName="weather_max"
                           [(ngModel)]="newReport.weather.max"
                           placeholder="Максимальная температура">
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <input matInput
                           formControlName="weather_wind"
                           [(ngModel)]="newReport.weather.wind"
                           placeholder="Скорость ветра">
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <input matInput
                           formControlName="weather_precipitations"
                           [(ngModel)]="newReport.weather.precipitations"
                           placeholder="Осадки">
                  </mat-form-field>
                </form>

                <!--
                <table class="weather-table w-100 h-100" style="flex: 1;" [formGroup]="addReportForm">
                  <tr>
                    <th scope="row" class="w-50 h-25 border">t&deg; min</th>
                    <td class="w-50 h-25 text-center border" style="flex-grow: 0">
                      <mat-form-field class="w-75">
                        <input matInput
                               formControlName="weather_min"
                               [(ngModel)]="newReport.weather.min">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr class="h-25">
                    <th scope="row" class="border">t&deg; max</th>
                    <td class="text-center border">
                      <mat-form-field class="w-75">
                        <input matInput
                               formControlName="weather_max"
                               [(ngModel)]="newReport.weather.max">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="w-50 border">Ветер</th>
                    <td class="text-center border">
                      <mat-form-field class="w-75">
                        <input matInput
                               formControlName="weather_wind"
                               [(ngModel)]="newReport.weather.wind">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="w-50 border">Осадки</th>
                    <td class="text-center border">
                      <mat-form-field class="w-75">
                        <input matInput
                               formControlName="weather_precipitations"
                               [(ngModel)]="newReport.weather.precipitations">
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                -->

                <div class="row p-2 pt-3" [formGroup]="addReportForm">
                  <div class="col-6 p-2 pr-4 d-flex justify-content-center">
                    <span class="mr-4">Режим РПГ</span>
                    <mat-slide-toggle
                      formControlName="weather_rpg_1"
                      [(ngModel)]="newReport.weather.rpg"
                      (change)="changeRPGMode($event)">
                    </mat-slide-toggle>
                  </div>
                  <div class="col-6 p-2 pl-4 d-flex justify-content-center">
                    <span class="mr-4">Режим ОРР</span>
                    <mat-slide-toggle
                      formControlName="weather_orr_1"
                      [(ngModel)]="newReport.weather.orr"
                      (change)="changeORRMode($event)">
                    </mat-slide-toggle>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-6 pl-4 pr-4 pt-3">
              <div class="d-flex flex-column">
                <mat-table [dataSource]="locationsDataSource" class="weather-locations-table">

                  <!-- Position Column -->
                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef>Насел. пункт</mat-header-cell>
                    <mat-cell *matCellDef="let location"> {{location.title}} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="temperature">
                    <mat-header-cell *matHeaderCellDef class="weather-temperature-column"> t&deg; </mat-header-cell>
                    <mat-cell *matCellDef="let location" class="weather-temperature-column"> {{location.weather.temperature}} </mat-cell>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="wind">
                    <mat-header-cell *matHeaderCellDef class="weather-wind-column"> Ветер</mat-header-cell>
                    <mat-cell *matCellDef="let location" class="weather-wind-column"> {{location.weather.wind}}</mat-cell>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="precipitations">
                    <mat-header-cell *matHeaderCellDef> Осадки </mat-header-cell>
                    <mat-cell *matCellDef="let location"> {{location.weather.precipitations}} </mat-cell>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="icon">
                    <mat-header-cell *matHeaderCellDef class="weather-icon-column"> </mat-header-cell>
                    <mat-cell *matCellDef="let location" class="weather-icon-column">
                      <img src="http://openweathermap.org/img/w/{{location.weather.icon}}.png">
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="weatherSummaryDisplayColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: weatherSummaryDisplayColumns;"></mat-row>
                </mat-table>

                <div class="row p-2 pt-3" [formGroup]="addReportForm">
                  <div class="col-6 p-2 pr-4 d-flex justify-content-center">
                    <span class="mr-4">Режим РПГ</span>
                    <mat-slide-toggle
                      formControlName="weather_rpg_2"
                      [(ngModel)]="newReport.weather.rpg"
                      (change)="changeRPGMode($event)">
                    </mat-slide-toggle>
                  </div>
                  <div class="col-6 p-2 pl-4 d-flex justify-content-center">
                    <span class="mr-4">Режим ОРР</span>
                    <mat-slide-toggle
                      formControlName="weather_orr_2"
                      [(ngModel)]="newReport.weather.orr"
                      (change)="changeORRMode($event)">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--
          <div class="row p-2 pt-3" [formGroup]="addReportForm">
            <div class="col-6 p-2 pr-4 d-flex justify-content-end">
              <span class="mr-2">Режим РПГ</span>
              <mat-slide-toggle
                formControlName="weather_rpg"
                [(ngModel)]="newReport.weather.rpg"
                (change)="changeRPGMode($event)">
              </mat-slide-toggle>
            </div>
            <div class="col-6 p-2 pl-4 d-flex justify-content-start">
              <span class="mr-2">Режим ОРР</span>
              <mat-slide-toggle
                formControlName="weather_orr"
                [(ngModel)]="newReport.weather.orr"
                (change)="changeORRMode($event)">
              </mat-slide-toggle>
            </div>
          </div>
          -->




          <!--
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <tr>
              <th scope="col" class="font-weight-normal">t min</th>
              <th scope="col" class="font-weight-normal">t max</th>
              <th scope="col" class="font-weight-normal">Ветер, м/с</th>
              <th scope="col" class="font-weight-normal">Осадки</th>
              <th scope="col" class="font-weight-normal">РПГ</th>
              <th scope="col" class="font-weight-normal">ОРР</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         formControlName="weather_min"
                         [(ngModel)]="newReport.weather.min">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         formControlName="weather_max"
                         [(ngModel)]="newReport.weather.max">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         formControlName="weather_wind"
                         [(ngModel)]="newReport.weather.wind">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         formControlName="weather_precipitations"
                         [(ngModel)]="newReport.weather.precipitations">
                </mat-form-field>
              </td>
              <td class="p-3">
                  <mat-slide-toggle
                    formControlName="weather_rpg"
                    [(ngModel)]="newReport.weather.rpg"
                    (change)="changeRPGMode($event)">
                  </mat-slide-toggle>
              </td>
              <td class="p-3">
                  <mat-slide-toggle
                    formControlName="weather_orr"
                    [(ngModel)]="newReport.weather.orr"
                    (change)="changeORRMode($event)">
                  </mat-slide-toggle>
              </td>
            </tr>
          </table>
          -->
        </div>
      </mat-tab>
      <!-- End: Вкладка с данными о погодных условиях-->
    </mat-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="d-flex flex-row justify-content-end align-items-center w-100 pt-2 pb-2 pl-4 pr-4">
      <button mat-flat-button
              type="button"
              color="warn"
              class="w-25 mr-2"
              [disabled]="(osr.isAddingReport() | async)"
              (click)="closeDialog()">
        Отмена
      </button>
      <button mat-flat-button
              type="submit"
              class="w-25"
              [disabled]="(osr.isAddingReport() | async) || addReportForm.invalid"
              (click)="addReport()">
        Добавить
      </button>
    </div>
  </mat-dialog-actions>

</div>
