<div class="container-fluid h-100 control-panel-dialog">
  <div matDialogTitle class="d-flex flex-row align-items-center p-3" [formGroup]="addReportForm">
    <h4>Добавление отчета об оперативной обстановке на {{osr.selectedPeriod()}}</h4>
    <!--
    <mat-form-field class="ml-3 pb-0" floatLabel="never">
      <mat-select placeholder="Время отчета" formControlName="time" [(ngModel)]="newReport.periodTime">
        <mat-option *ngFor="let period of osr.periods() | timePeriods:osr.reports()" [value]="period">{{period}}</mat-option>
      </mat-select>
      <mat-error *ngIf="addReportForm.controls['time'].invalid">Вы не выбрали время отчета</mat-error>
    </mat-form-field>
    -->
  </div>

  <mat-dialog-content>
    <mat-tab-group >

      <!-- Start: Вкладка с данными об оборудовании 35-150 кВ -->
      <mat-tab label="Оборудование 35-150 кВ">
        <div class="p-3">
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <colgroup span="2"></colgroup>
            <tr>
              <th colspan="4" scope="colgroup">Отключенное оборудование по сети 35-150 кВ</th>
              <th colspan="4" scope="colgroup">Последствия для потребителей по сети 35-150 кВ</th>
            </tr>
            <tr>
              <th scope="col" class="font-weight-normal">ЛЭП 110-150 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">ЛЭП 35 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">ПС 110 -150 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">ПС 35 кВ, шт.</th>

              <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">Население, чел</th>
              <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
              <th scope="col" class="font-weight-normal">СЗО, шт</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100" focused="true">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="lep_110_150"
                         [(ngModel)]="newReport.equipment_35_150.lep_110_150">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="lep_35"
                         [(ngModel)]="newReport.equipment_35_150.lep_35">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="ps_110_150"
                         [(ngModel)]="newReport.equipment_35_150.ps_110_150">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="ps_35"
                         [(ngModel)]="newReport.equipment_35_150.ps_35">
                </mat-form-field>
              </td>

              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="tp_6_20_effect_110_150"
                         [(ngModel)]="newReport.equipment_35_150.effect.tp_6_20">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="population_effect_110_150"
                         [(ngModel)]="newReport.equipment_35_150.effect.population">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         step="0.1"
                         formControlName="power_effect_110_150"
                         [(ngModel)]="newReport.equipment_35_150.effect.power">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="szo_effect_110_150"
                         [(ngModel)]="newReport.equipment_35_150.effect.szo">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <!-- End: Вкладка с данными об оборудовании 35-150 кВ  -->

      <!-- Start: Вкладка с данными об оборудовании в распределительной сети -->
      <mat-tab label="Распределительная сеть">
        <div class="p-3">
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <tr>
              <th colspan="2" scope="colgroup">Распределительная сеть</th>
              <th colspan="3" scope="colgroup">Последствия для потребителей по распределительной сети</th>
            </tr>
            <tr>
              <th scope="col" class="font-weight-normal">ЛЭП 6-20 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт.</th>
              <th scope="col" class="font-weight-normal">Население, чел</th>
              <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
              <th scope="col" class="font-weight-normal">СЗО, шт</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="lep_6_20"
                         [(ngModel)]="newReport.equipment_network.lep_6_20">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="tp_6_20"
                         [(ngModel)]="newReport.equipment_network.tp_6_20">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="population_effect_network"
                         [(ngModel)]="newReport.equipment_network.effect.population">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         step="0.1"
                         formControlName="power_effect_network"
                         [(ngModel)]="newReport.equipment_network.effect.power">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         step="1"
                         formControlName="szo_effect_network"
                         [(ngModel)]="newReport.equipment_network.effect.szo">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <!-- End: Вкладка с данными об оборудовании в распределительной сети -->

      <!-- Start: Вкладка с данными о задействованных ресурсах и ИРСЭ -->
      <mat-tab label="Задействованные РИСЭ, силы и средства">
        <div class="p-3">
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <tr>
              <th colspan="3" scope="colgroup">Задействованные РИСЭ</th>
              <th colspan="3" scope="colgroup">Задействованные силы и средства</th>
            </tr>
            <tr>
              <th scope="col" class="font-weight-normal">Количество, шт</th>
              <th scope="col" class="font-weight-normal">P∑, кВт</th>
              <th scope="col" class="font-weight-normal">Запитано от РИСЭ, чел</th>
              <th scope="col" class="font-weight-normal">Бригад, шт</th>
              <th scope="col" class="font-weight-normal">Человек</th>
              <th scope="col" class="font-weight-normal">Единиц техники, шт</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_rise"
                         [(ngModel)]="newReport.resources.rise">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_rise_sum_power"
                         [(ngModel)]="newReport.resources.riseSumPower">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_rise_people"
                         [(ngModel)]="newReport.resources.risePeople">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_brigades"
                         [(ngModel)]="newReport.resources.brigades">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_people"
                         [(ngModel)]="newReport.resources.people">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="resources_technics"
                         [(ngModel)]="newReport.resources.technics">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <!-- End: Вкладка с данными о задействованных ресурсах и РИСЭ -->

      <!-- Start: Вкладка с данными о нарушениях с нарастающим итогом -->
      <mat-tab label="Нарушения">
        <div class="p-3">
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <tr>
              <th rowspan="2" scope="colgroup">Всего 6 кВ и выше</th>
              <th colspan="3" scope="colgroup">Основная сеть 35 кВ и выше</th>
              <th rowspan="2" scope="colgroup">ЛЭП<br> р/с</th>
              <th rowspan="2" scope="colgroup">ТН с погаш.</th>
              <th colspan="3" scope="colgroup">Сеть 0,4 кВ</th>
              <th colspan="2" scope="colgroup">Население, чел</th>
            </tr>
            <tr>
              <th scope="col" class="font-weight-normal">УАПВ</th>
              <th scope="col" class="font-weight-normal">НАПВ</th>
              <th scope="col" class="font-weight-normal">С обесточ.</th>
              <!-- <th scope="col" class="font-weight-normal">Итого</th> -->

              <th scope="col" class="font-weight-normal">С 6-00</th>
              <th scope="col" class="font-weight-normal">Отключены на срез</th>
              <th scope="col" class="font-weight-normal">Более 3 часов</th>

              <th scope="col" class="font-weight-normal">По сети 0,4 кВ на срез</th>
              <th scope="col" class="font-weight-normal">По сети 0,4 кВ (более 3 часов)</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_total_6"
                         [(ngModel)]="newReport.violations.total_6">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_uapv_35"
                         [(ngModel)]="newReport.violations.uapv_35">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_napv_35"
                         [(ngModel)]="newReport.violations.napv_35">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_power_off_35"
                         [(ngModel)]="newReport.violations.power_off_35">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_lep_rs"
                         [(ngModel)]="newReport.violations.lep_rs">
                </mat-form-field>
              </td>

              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_tn_cancel"
                         [(ngModel)]="newReport.violations.tn_cancel">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_from_6_04"
                         [(ngModel)]="newReport.violations.from_6_04">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_power_off_04"
                         [(ngModel)]="newReport.violations.power_off_04">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_greater_3_04"
                         [(ngModel)]="newReport.violations.greater_3_04">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_population_srez_o4"
                         [(ngModel)]="newReport.violations.population_srez_04">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         type="number"
                         min="0"
                         formControlName="violations_population_greater_3_04"
                         [(ngModel)]="newReport.violations.population_greater_3_04">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <!-- End: Вкладка с данными о нарушениях с нарастающим итогом -->

      <!-- Start: Вкладка с данными о потреблении -->
      <!--
      <mat-tab label="Потребление">
        <div class="p-3">
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <tr>
              <th scope="col" class="font-weight-normal">Максимум потребления за прошедшие сутки</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         formControlName="consumption"
                         [(ngModel)]="newReport.consumption">
                </mat-form-field>
              </td>
          </table>
        </div>
      </mat-tab>
      -->
      <!-- End: Вкладка с данными о потреблении -->

      <!-- Start: Вкладка с данными о погодных условиях -->
      <mat-tab label="Погодные условия">
        <div class="p-3">
          <table class="operative-situation-reports w-100" [formGroup]="addReportForm">
            <tr>
              <th scope="col" class="font-weight-normal">t min</th>
              <th scope="col" class="font-weight-normal">t max</th>
              <th scope="col" class="font-weight-normal">Ветер, м/с</th>
              <th scope="col" class="font-weight-normal">Осадки</th>
              <th scope="col" class="font-weight-normal">РПГ</th>
              <th scope="col" class="font-weight-normal">ОРР</th>
            </tr>
            <tr class="content">
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         formControlName="weather_min"
                         [(ngModel)]="newReport.weather.min">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         formControlName="weather_max"
                         [(ngModel)]="newReport.weather.max">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         formControlName="weather_wind"
                         [(ngModel)]="newReport.weather.wind">
                </mat-form-field>
              </td>
              <td class="p-3">
                <mat-form-field class="w-100">
                  <input matInput
                         formControlName="weather_precipitations"
                         [(ngModel)]="newReport.weather.precipitations">
                </mat-form-field>
              </td>
              <td class="p-3">
                  <mat-slide-toggle
                    formControlName="weather_rpg"
                    [(ngModel)]="newReport.weather.rpg"
                    (change)="changeRPGMode($event)">
                  </mat-slide-toggle>
              </td>
              <td class="p-3">
                  <mat-slide-toggle
                    formControlName="weather_orr"
                    [(ngModel)]="newReport.weather.orr"
                    (change)="changeORRMode($event)">
                  </mat-slide-toggle>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <!-- End: Вкладка с данными о погодных условиях-->
    </mat-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="d-flex flex-row justify-content-end align-items-center w-100 pt-2 pb-2 pl-4 pr-4">
      <button mat-flat-button
              type="button"
              color="warn"
              class="w-25 mr-2"
              [disabled]="(osr.isAddingReport() | async)"
              (click)="closeDialog()">
        Отмена
      </button>
      <button mat-flat-button
              type="submit"
              class="w-25"
              [disabled]="(osr.isAddingReport() | async) || addReportForm.invalid"
              (click)="addReport()">
        Добавить
      </button>
    </div>
  </mat-dialog-actions>

</div>
