<mat-toolbar color="accent" class="border-bottom fixed-top d-flex flex-column">
  <mat-toolbar-row>
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-auto d-none d-sm-none d-md-flex align-content-center align-items-center align-content-center">
          <div class="app-title d-flex align-items-center">
            <a routerLink="/">
              <span class="bold">Заявки</span>
              <span class="regular">&nbsp;АХО</span>
            </a>
          </div>
        </div>

        <div class="col app-search mr-1 ml-1 mr-md-0 ml-md-0">
          <div class="search-container">
            <div class="prefix">
              <i class="fa fa-search"></i>
            </div>
            <div class="search-input">
              <input type="text" placeholder="Поиск заявок">
            </div>
            <div class="controls">
              <i class="fa fa-filter" matTooltip="Фильтры" matTooltipPosition="below" (click)="filtersDialog()"></i>
            </div>
          </div>
        </div>

        <div class="col-auto d-none d-md-flex justify-content-end align-items-center">

          <button mat-icon-button
                  *ngIf="authenticationService.getCurrentUser() && authenticationService.getCurrentUser().permissions.getRoleById(1)"
                  class="mr-3"
                  routerLink="/admin"
                  matTooltip="Раздел администратора"
                  matTooltipPosition="below">
            <mat-icon color="primary">settings</mat-icon>
          </button>

          <button mat-stroked-button
                  [color]="'primary'"
                  *ngIf="authenticationService.getCurrentUser()"
                  [matMenuTriggerFor]="userMenu">
            {{ authenticationService.getCurrentUser().firstName + ' ' + authenticationService.getCurrentUser().lastName }}
          </button>
          <mat-menu #userMenu="matMenu" [yPosition]="'below'" class="user-menu">
            <button mat-menu-item>
              <mat-icon color="'primary'" fontSet="fa" fontIcon="fa-user-circle-o"></mat-icon>
              Мои заявки
            </button>
            <button mat-menu-item
                    (click)="logOut()">
              <mat-icon color="'primary'" fontSet="fa" fontIcon="fa-sign-out"></mat-icon>
              Выход из системы
            </button>
          </mat-menu>

          <button mat-stroked-button
                  [color]="'primary'"
                  *ngIf="!authenticationService.getCurrentUser()"
                  (click)="openAuthDialog()">
            Войти
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
  <!--
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  -->
</mat-toolbar>



<router-outlet></router-outlet>
