<!--
<div class="report-list d-flex flex-column h-100 p-4">
  <div class="d-flex flex-row justify-content-between align-items$-center lead mb-3">
    Оперативная обстановка на {{(osr.date() | async)}}


    <mat-form-field class="col-auto">
      <mat-select placeholder="Выберите филиал" (selectionChange)="selectCompany($event)">
        <mat-option *ngFor="let company of (osr.companies() | async)" [value]="company">
          {{company.shortTitle}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="d-flex flex-column align-items$-center"
       [ngClass]="{'justify-content-center': (osr.reports() | async).length === 0, 'justify-content-start': (osr.reports() | async).length > 0}" style="flex: 1 1;">
    <table class="operative-situation-reports mb-4" *ngIf="(osr.reports() | async).length > 0">
      <colgroup span="2"></colgroup>
      <colgroup span="2"></colgroup>
      <tr>
        <th rowspan="2">
          <mat-icon>access_time</mat-icon>
        </th>
        <th colspan="4" scope="colgroup">Отключенное оборудование по сети 35-150 кВ</th>
        <th colspan="4" scope="colgroup">Последствия для потребителей по сети 35-150 кВ</th>
        <th colspan="2" scope="colgroup">Распределительная сеть</th>
        <th colspan="3" scope="colgroup">Последствия для потребителей по распределительной сети</th>
        <th colspan="4" scope="colgroup">Последствия для потребителей суммарно по основной и распределительной сети</th>
        <th colspan="5" scope="colgroup">Погодные условия</th>
      </tr>
      <tr>
        <th scope="col" class="font-weight-normal">ЛЭП 110-150 кВ, шт.</th>
        <th scope="col" class="font-weight-normal">ЛЭП 35 кВ, шт.</th>
        <th scope="col" class="font-weight-normal">ПС 110 -150 кВ, шт.</th>
        <th scope="col" class="font-weight-normal">ПС 35 кВ, шт.</th>

        <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт.</th>
        <th scope="col" class="font-weight-normal">Население, чел</th>
        <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
        <th scope="col" class="font-weight-normal">СЗО, шт</th>

        <th scope="col" class="font-weight-normal">ЛЭП 6-20 кВ, шт.</th>
        <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт.</th>

        <th scope="col" class="font-weight-normal">Население, чел</th>
        <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
        <th scope="col" class="font-weight-normal">СЗО, шт</th>

        <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт.</th>
        <th scope="col" class="font-weight-normal">Население, чел</th>
        <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
        <th scope="col" class="font-weight-normal">СЗО, шт</th>

        <th scope="col" class="font-weight-normal">t min</th>
        <th scope="col" class="font-weight-normal">t max</th>
        <th scope="col" class="font-weight-normal">Ветер, м/с</th>
        <th scope="col" class="font-weight-normal">Осадки</th>
        <th scope="col" class="font-weight-normal">РПГ/ОРР</th>

      </tr>
      <tr *ngFor="let report of (osr.reports() | async)" class="content" (click)="selectReport(report)">
        <th scope="row" class="time">
          <div class="d-flex justify-content-center align-items$-center">
            <span> {{report.periodTime}}</span>
          </div>
        </th>
        <td>{{report.equipment_35_150.lep_110_150}}</td>
        <td>{{report.equipment_35_150.lep_35}}</td>
        <td>{{report.equipment_35_150.ps_110_150}}</td>
        <td>{{report.equipment_35_150.ps_35}}</td>

        <td>{{report.equipment_35_150.effect.tp_6_20}}</td>
        <td>{{report.equipment_35_150.effect.population}}</td>
        <td>{{report.equipment_35_150.effect.power}}</td>
        <td>{{report.equipment_35_150.effect.szo}}</td>

        <td>{{report.equipment_network.lep_6_20}}</td>
        <td>{{report.equipment_network.tp_6_20}}</td>

        <td>{{report.equipment_network.effect.population}}</td>
        <td>{{report.equipment_network.effect.power}}</td>
        <td>{{report.equipment_network.effect.szo}}</td>

        <td class="total">{{report.equipment_35_150.effect.tp_6_20 + report.equipment_network.tp_6_20}}</td>
        <td class="total">{{report.equipment_35_150.effect.population + report.equipment_network.effect.population}}</td>
        <td class="total">{{report.getTotalEffect().power}}</td>
        <td class="total">{{report.equipment_35_150.effect.szo + report.equipment_network.effect.szo}}</td>

        <td>{{report.weather.min}}</td>
        <td>{{report.weather.max}}</td>
        <td>{{report.weather.wind}}</td>
        <td>{{report.weather.precipitations}}</td>
        <td>{{report.weather.rpg ? 'РПГ' : report.weather.orr ? 'ОРР' : 'Нет'}}</td>

      </tr>
    </table>

    <div class="d-flex justify-content-center align-items$-center mt-5 mb-3 lead text-muted"
         *ngIf="(osr.reports() | async).length === 0">
      Отчеты об оперативной обстановке отсутствуют
    </div>

    <div class="d-flex justify-content-center align-items$-center">
      <button mat-stroked-button color="primary" class="p-3" (click)="openAddReportDialog()">
        <div class="d-flex justify-content-center align-items$-center">
          <mat-icon class="mr-2">add</mat-icon>
          Добавить отчет об оперативной обстановке
        </div>
      </button>
    </div>
  </div>

</div>
-->


<div class="report-list-component d-flex flex-column justify-content-start align-items-center h-100 p-4">
  <mat-tab-group [@.disabled]="true" class="w-100 h-100" id="report-periods" (selectedTabChange)="onSelectTimePeriod($event)" style="flex-shrink: 0" [selectedIndex]="osr.periods().indexOf(osr.selectedPeriod$.getValue())">
    <mat-tab *ngFor="let period of osr.periods()">
      <ng-template mat-tab-label>
        <div class="d-flex flex-column justify-content-between align-items-center h-100" [ngClass]="{'with-data': osr.getReportByTimePeriod(period)}">
          <div class="d-flex justify-content-center align-items-end" style="flex: 1">
            <mat-icon class="mr-2">access_time</mat-icon>
            <span>{{period}}</span>
          </div>
          <div class="corner"></div>
        </div>
      </ng-template>
      <div class="d-flex flex-column justify-content-start align-items-center pt-4 h-100">

        <!--
        <div class="d-flex flex-column w-100">

          <div class="row w-100">
            <div class="d-flex col-9">
              <table class="operative-situation-reports mb-4" *ngIf="(osr.selectedReport() | async) as report">
                <tr>
                  <th colspan="4" scope="colgroup">Отключенное оборудование по сети 35-150 кВ</th>
                  <th colspan="4" scope="colgroup">Последствия для потребителей по сети 35-150 кВ</th>
                  <th colspan="2" scope="colgroup">Распределительная сеть</th>
                  <th colspan="3" scope="colgroup">Последствия для потребителей по распределительной сети</th>
                  <th colspan="4" scope="colgroup">Последствия для потребителей суммарно по основной и распределительной сети</th>
                </tr>
                <tr>
                  <th scope="col" class="font-weight-normal">ЛЭП 110-150 кВ, шт</th>
                  <th scope="col" class="font-weight-normal">ЛЭП 35 кВ, шт.</th>
                  <th scope="col" class="font-weight-normal">ПС 110 -150 кВ, шт</th>
                  <th scope="col" class="font-weight-normal">ПС 35 кВ, шт</th>

                  <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт</th>
                  <th scope="col" class="font-weight-normal">Население, чел</th>
                  <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
                  <th scope="col" class="font-weight-normal">СЗО, шт</th>

                  <th scope="col" class="font-weight-normal">ЛЭП 6-20 кВ, шт</th>
                  <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт</th>

                  <th scope="col" class="font-weight-normal">Население, чел</th>
                  <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
                  <th scope="col" class="font-weight-normal">СЗО, шт</th>

                  <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт</th>
                  <th scope="col" class="font-weight-normal">Население, чел</th>
                  <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
                  <th scope="col" class="font-weight-normal">СЗО, шт</th>
                </tr>
                <tr  class="content">
                  <td>{{report.equipment_35_150.lep_110_150}}</td>
                  <td>{{report.equipment_35_150.lep_35}}</td>
                  <td>{{report.equipment_35_150.ps_110_150}}</td>
                  <td>{{report.equipment_35_150.ps_35}}</td>

                  <td>{{report.equipment_35_150.effect.tp_6_20}}</td>
                  <td>{{report.equipment_35_150.effect.population}}</td>
                  <td>{{report.equipment_35_150.effect.power}}</td>
                  <td>{{report.equipment_35_150.effect.szo}}</td>

                  <td>{{report.equipment_network.lep_6_20}}</td>
                  <td>{{report.equipment_network.tp_6_20}}</td>

                  <td>{{report.equipment_network.effect.population}}</td>
                  <td>{{report.equipment_network.effect.power}}</td>
                  <td>{{report.equipment_network.effect.szo}}</td>

                  <td class="total">{{report.getTotalEffect().tp_6_20}}</td>
                  <td class="total">{{report.getTotalEffect().population}}</td>
                  <td class="total">{{report.getTotalEffect().power}}</td>
                  <td class="total">{{report.getTotalEffect().szo}}</td>
                </tr>
              </table>
            </div>
            <div class="d-flex col-3">
              <table class="operative-situation-reports mb-4" *ngIf="(osr.selectedReport() | async) as report">
                <tr>
                  <th colspan="3" scope="colgroup">Задействованные РИСЭ</th>
                  <th colspan="3" scope="colgroup">Задействованные силы и средства</th>
                </tr>
                <tr>
                  <th scope="col" class="font-weight-normal">Количество, шт</th>
                  <th scope="col" class="font-weight-normal">P∑, кВт</th>
                  <th scope="col" class="font-weight-normal">Запитано от РИСЭ, чел</th>

                  <th scope="col" class="font-weight-normal">Бригад, шт</th>
                  <th scope="col" class="font-weight-normal">Человек</th>
                  <th scope="col" class="font-weight-normal">Единиц техники, шт</th>
                </tr>
                <tr  class="content">
                  <td>{{report.resources.rise}}</td>
                  <td>{{report.resources.riseSumPower}}</td>
                  <td>{{report.resources.risePeople}}</td>

                  <td>{{report.resources.brigades}}</td>
                  <td>{{report.resources.people}}</td>
                  <td>{{report.resources.technics}}</td>
                </tr>
              </table>
            </div>
          </div>

        </div>
        -->



        <div class="container-fluid pl-0 pr-0" style="overflow: hidden;" *ngIf="(osr.selectedReport() | async) as report">

          <div class="row">
            <div class="col-8">
              <table class="operative-situation-reports mb-4">
                <tr>
                  <th colspan="4" scope="colgroup">Отключенное оборудование по сети 35-150 кВ</th>
                  <th colspan="4" scope="colgroup">Последствия для потребителей по сети 35-150 кВ</th>
                  <th colspan="2" scope="colgroup">Распределительная сеть</th>
                  <th colspan="3" scope="colgroup">Последствия для потребителей по распределительной сети</th>
                  <th colspan="4" scope="colgroup">Последствия для потребителей суммарно по основной и распределительной сети</th>
                </tr>
                <tr>
                  <th scope="col" class="font-weight-normal">ЛЭП 110-150 кВ, шт</th>
                  <th scope="col" class="font-weight-normal">ЛЭП 35 кВ, шт.</th>
                  <th scope="col" class="font-weight-normal">ПС 110 -150 кВ, шт</th>
                  <th scope="col" class="font-weight-normal">ПС 35 кВ, шт</th>

                  <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт</th>
                  <th scope="col" class="font-weight-normal">Население, чел</th>
                  <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
                  <th scope="col" class="font-weight-normal">СЗО, шт</th>

                  <th scope="col" class="font-weight-normal">ЛЭП 6-20 кВ, шт</th>
                  <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт</th>

                  <th scope="col" class="font-weight-normal">Население, чел</th>
                  <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
                  <th scope="col" class="font-weight-normal">СЗО, шт</th>

                  <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт</th>
                  <th scope="col" class="font-weight-normal">Население, чел</th>
                  <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
                  <th scope="col" class="font-weight-normal">СЗО, шт</th>
                </tr>
                <tr  class="content">
                  <td>{{report.equipment_35_150.lep_110_150}}</td>
                  <td>{{report.equipment_35_150.lep_35}}</td>
                  <td>{{report.equipment_35_150.ps_110_150}}</td>
                  <td>{{report.equipment_35_150.ps_35}}</td>

                  <td>{{report.equipment_35_150.effect.tp_6_20}}</td>
                  <td>{{report.equipment_35_150.effect.population}}</td>
                  <td>{{report.equipment_35_150.effect.power}}</td>
                  <td>{{report.equipment_35_150.effect.szo}}</td>

                  <td>{{report.equipment_network.lep_6_20}}</td>
                  <td>{{report.equipment_network.tp_6_20}}</td>

                  <td>{{report.equipment_network.effect.population}}</td>
                  <td>{{report.equipment_network.effect.power}}</td>
                  <td>{{report.equipment_network.effect.szo}}</td>

                  <td class="total">{{report.getTotalEffect().tp_6_20}}</td>
                  <td class="total">{{report.getTotalEffect().population}}</td>
                  <td class="total">{{report.getTotalEffect().power}}</td>
                  <td class="total">{{report.getTotalEffect().szo}}</td>
                </tr>
              </table>
            </div>
            <div class="col-4">
              <table class="operative-situation-reports mb-4">
                <tr>
                  <th colspan="3" scope="colgroup">Задействованные РИСЭ</th>
                  <th colspan="3" scope="colgroup">Задействованные силы и средства</th>
                </tr>
                <tr>
                  <th scope="col" class="font-weight-normal">Количество, шт</th>
                  <th scope="col" class="font-weight-normal">P∑, кВт</th>
                  <th scope="col" class="font-weight-normal">Запитано от РИСЭ, чел</th>

                  <th scope="col" class="font-weight-normal">Бригад, шт</th>
                  <th scope="col" class="font-weight-normal">Человек</th>
                  <th scope="col" class="font-weight-normal">Единиц техники, шт</th>
                </tr>
                <tr  class="content">
                  <td>{{report.resources.rise}}</td>
                  <td>{{report.resources.riseSumPower}}</td>
                  <td>{{report.resources.risePeople}}</td>

                  <td>{{report.resources.brigades}}</td>
                  <td>{{report.resources.people}}</td>
                  <td>{{report.resources.technics}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <table class="operative-situation-reports w-100">
                <tr>
                  <th rowspan="2" scope="colgroup">Всего 6 кВ и выше</th>
                  <th colspan="4" scope="colgroup">Основная сеть 35 кВ и выше</th>
                  <th rowspan="2" scope="colgroup">ЛЭП<br> р/с</th>
                  <th rowspan="2" scope="colgroup">ТН с погаш.</th>
                  <th colspan="3" scope="colgroup">Сеть 0,4 кВ</th>
                  <th colspan="2" scope="colgroup">Население, чел</th>
                </tr>
                <tr>
                  <th scope="col" class="font-weight-normal">УАПВ</th>
                  <th scope="col" class="font-weight-normal">НАПВ</th>
                  <th scope="col" class="font-weight-normal">С обесточ.</th>
                  <th scope="col" class="font-weight-normal">Итого</th>

                  <th scope="col" class="font-weight-normal">С 6:00</th>
                  <th scope="col" class="font-weight-normal">Откл. на срез</th>
                  <th scope="col" class="font-weight-normal">Более 3 часов</th>

                  <th scope="col" class="font-weight-normal">По сети 0,4 кВ на срез</th>
                  <th scope="col" class="font-weight-normal">По сети 0,4 кВ (более 3 часов)</th>
                </tr>
                <tr class="content">
                  <td class="p-3">{{report.violations.total_6}}</td>
                  <td class="p-3">{{report.violations.uapv_35}}</td>
                  <td class="p-3">{{report.violations.napv_35}}</td>
                  <td class="p-3">{{report.violations.power_off_35}}</td>
                  <td class="p-3">{{report.violations.uapv_35 + report.violations.napv_35}}</td>

                  <td class="p-3">{{report.violations.lep_rs}}</td>
                  <td class="p-3">{{report.violations.tn_cancel}}</td>
                  <td class="p-3">{{report.violations.from_6_04}}</td>
                  <td class="p-3">{{report.violations.power_off_04}}</td>
                  <td class="p-3">{{report.violations.greater_3_04}}</td>
                  <td class="p-3">{{report.violations.population_srez_04}}</td>
                  <td class="p-3">{{report.violations.population_greater_3_04}}</td>
                </tr>
              </table>
            </div>
            <div class="col-4">
              <table class="operative-situation-reports w-100 mat-elevation-z0" *ngIf="!osr.selectedReport$.getValue().weatherSummary">
                <tr>
                  <th colspan="4">Погодные условия</th>
                  <th>Режимы</th>
                </tr>
                <tr>
                  <th scope="col" class="font-weight-normal">t min</th>
                  <th scope="col" class="font-weight-normal">t max</th>
                  <th scope="col" class="font-weight-normal">Ветер, <br>м/с</th>
                  <th scope="col" class="font-weight-normal">Осадки</th>
                  <th scope="col" class="font-weight-normal">РПГ / ОРР</th>
                </tr>
                <tr class="content">
                  <td class="p-3">{{report.weather.min}}</td>
                  <td class="p-3">{{report.weather.max}}</td>
                  <td class="p-3">{{report.weather.wind}}</td>
                  <td class="p-3">{{report.weather.precipitations}}</td>
                  <td class="p-3">{{report.weather.orr ? 'ОРР' : report.weather.rpg ? 'РПГ' : 'Нет'}}</td>
                </tr>
              </table>

              <div *ngIf="osr.selectedReport$.getValue().weatherSummary">
                <mat-table [dataSource]="locationsDataSource" class="weather-locations-table">

                  <!-- Position Column -->
                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef>Насел. пункт</mat-header-cell>
                    <mat-cell *matCellDef="let location"> {{location.title}} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="temperature">
                    <mat-header-cell *matHeaderCellDef class="weather-temperature-column"> t&deg; </mat-header-cell>
                    <mat-cell *matCellDef="let location" class="weather-temperature-column"> {{location.weather.temperature}} </mat-cell>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="wind">
                    <mat-header-cell *matHeaderCellDef class="weather-wind-column"> Ветер</mat-header-cell>
                    <mat-cell *matCellDef="let location" class="weather-wind-column"> {{location.weather.wind}}</mat-cell>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="precipitations">
                    <mat-header-cell *matHeaderCellDef> Осадки </mat-header-cell>
                    <mat-cell *matCellDef="let location"> {{location.weather.precipitations}} </mat-cell>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="icon">
                    <mat-header-cell *matHeaderCellDef class="weather-icon-column"> </mat-header-cell>
                    <mat-cell *matCellDef="let location" class="weather-icon-column">
                      <img src="http://openweathermap.org/img/w/{{location.weather.icon}}.png">
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="weatherSummaryDisplayColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: weatherSummaryDisplayColumns;"></mat-row>
                </mat-table>
              </div>
            </div>
          </div>
        </div>

        <div class="report-controls d-flex flex-row justify-content-start align-items-center w-100 mt-3"
             style="flex-shrink: 0"
             *ngIf="(osr.selectedReport() | async)">
          <button mat-stroked-button
                  class="mt-3 mr-2"
                  (click)="openEditReportDialog()"
                  [disabled]="(osr.isFetchingData() | async)">
            <div class="d-flex justify-content-center align-items-center">Изменить отчет</div>
          </button>

          <button mat-stroked-button
                  class="mt-3"
                  (click)="exportReport()"
                  [disabled]="(osr.isFetchingData() | async)">
            <div class="d-flex justify-content-center align-items-center">Экспорт в Excel</div>
          </button>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center h-100 w-25"
             style="flex-shrink: 0"
             *ngIf="!(osr.selectedReport() | async)">
          <div class="lead text-center text-muted">Отчет об оперативной обстановке на {{ period }} отсутствует</div>
          <button mat-stroked-button color="primary" class="pt-2 pb-2 pl-3 pr-3 mt-3 w-100" (click)="openAddReportDialog()">
            <div class="d-flex justify-content-center align-items-center">
              <mat-icon class="mr-2">add</mat-icon>
              Добавить отчет
            </div>
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex flex-column justify-content-between align-items-center h-100"
             [ngClass]="{'with-data': (osr.consumption() | async)}">
          <div class="d-flex justify-content-center align-items-end" style="flex: 1">
            <mat-icon class="mr-2">offline_bolt</mat-icon>
            <span>Потребление</span>
          </div>
          <div class="corner"></div>
        </div>
      </ng-template>
      <div class="consumption-tab d-flex flex-column justify-content-center align-items-center h-100 p-4">

        <div class="d-flex flex-column justify-content-center align-items-center w-25 h-100" *ngIf="osr.consumption() | async">
          <div class="lead text-center text-muted">Максимум потребления за прошедшие сутки</div>
          <div class="consumption d-flex justify-content-center align-items-center w-100 p-5 text-center">
            <mat-icon class="mr-3">offline_bolt</mat-icon>
            <span>{{(osr.consumption() | async).consumption}}</span>
          </div>
          <button mat-stroked-button color="primary" class="pt-2 pb-2 pl-3 pr-3 mt-3 w-100" (click)="openEditConsumptionDialog()">
            <div class="d-flex justify-content-center align-items-center">
              <mat-icon class="mr-2">edit</mat-icon>
              Изменить
            </div>
          </button>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center w-25 h-100" *ngIf="!(osr.consumption() | async)">
          <div class="lead text-center text-muted">Максимум потребления за прошедшие сутки не указан</div>
          <button mat-stroked-button color="primary" class="pt-2 pb-2 pl-3 pr-3 mt-3 w-100" (click)="openAddConsumptionDialog()">
            <div class="d-flex justify-content-center align-items-center">
              <mat-icon class="mr-2">add</mat-icon>
              Добавить
            </div>
          </button>
        </div>

      </div>
    </mat-tab>

  </mat-tab-group>
</div>





<!--
<div class="report-list container-fluid d-flex flex-column h-100 p-4">
  <div class="row" style="flex-shrink: 0">
    <div class="col-12 d-flex justify-content-start">
      <mat-form-field>
        <mat-select placeholder="Выберите филиал" (selectionChange)="selectCompany($event)">
          <mat-option *ngFor="let company of (osr.companies() | async)" [value]="company">
            {{company.shortTitle}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-4" style="flex-shrink: 0">
    <div class="col-12 d-flex justify-content-center">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="text-center">Максимум потребления за прошедшие сутки</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 class="text-center">
            0
          </h1>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row" style="flex-shrink: 0;">
    <div class="col-12">

    </div>
  </div>

  <div class="d-flex flex-column justify-content-center align-items$-center pt-2 pb-2"
       [ngClass]="{'h-100': (osr.reports() | async).length === 0}"
       style="flex-shrink: 0;">
    <div class="d-flex justify-content-center align-items$-center lead text-muted"
         *ngIf="(osr.reports() | async).length === 0">
      Отчеты об оперативной обстановке отсутствуют
    </div>

    <div class="d-flex justify-content-center align-items$-center mb-3">
      <button mat-stroked-button color="primary" class="p-3" (click)="openAddReportDialog()">
        <div class="d-flex justify-content-center align-items$-center">
          <mat-icon class="mr-2">add</mat-icon>
          Добавить отчет об оперативной обстановке
        </div>
      </button>
    </div>
  </div>


  <div class="container-fluid mb-5" *ngFor="let report of (osr.reports() | async)">
    <div class="row mb-3">
      <div class="col-12 d-flex justify-content-between">
        <div class="lead">Оперативная обстановка на {{report.periodTime}}</div>
        <button mat-stroked-button color="primary" (click)="selectReport(report)">Изменить</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="operative-situation-reports mb-4">
          <tr>
            <th colspan="4" scope="colgroup">Отключенное оборудование по сети 35-150 кВ</th>
            <th colspan="4" scope="colgroup">Последствия для потребителей по сети 35-150 кВ</th>
            <th colspan="2" scope="colgroup">Распределительная сеть</th>
            <th colspan="3" scope="colgroup">Последствия для потребителей по распределительной сети</th>
            <th colspan="4" scope="colgroup">Последствия для потребителей суммарно по основной и распределительной сети</th>
            <th colspan="3" scope="colgroup">Задействованные силы и средства</th>
          </tr>
          <tr>
            <th scope="col" class="font-weight-normal">ЛЭП 110-150 кВ, шт.</th>
            <th scope="col" class="font-weight-normal">ЛЭП 35 кВ, шт.</th>
            <th scope="col" class="font-weight-normal">ПС 110 -150 кВ, шт.</th>
            <th scope="col" class="font-weight-normal">ПС 35 кВ, шт.</th>

            <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт.</th>
            <th scope="col" class="font-weight-normal">Население, чел</th>
            <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
            <th scope="col" class="font-weight-normal">СЗО, шт</th>

            <th scope="col" class="font-weight-normal">ЛЭП 6-20 кВ, шт.</th>
            <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт.</th>

            <th scope="col" class="font-weight-normal">Население, чел</th>
            <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
            <th scope="col" class="font-weight-normal">СЗО, шт</th>

            <th scope="col" class="font-weight-normal">ТП 6-20 кВ, шт.</th>
            <th scope="col" class="font-weight-normal">Население, чел</th>
            <th scope="col" class="font-weight-normal">Нагрузка, МВт</th>
            <th scope="col" class="font-weight-normal">СЗО, шт</th>

            <th scope="col" class="font-weight-normal">Бригад, шт.</th>
            <th scope="col" class="font-weight-normal">Человек</th>
            <th scope="col" class="font-weight-normal">Единиц техники, шт</th>
          </tr>
          <tr  class="content">
            <td>{{report.equipment_35_150.lep_110_150}}</td>
            <td>{{report.equipment_35_150.lep_35}}</td>
            <td>{{report.equipment_35_150.ps_110_150}}</td>
            <td>{{report.equipment_35_150.ps_35}}</td>

            <td>{{report.equipment_35_150.effect.tp_6_20}}</td>
            <td>{{report.equipment_35_150.effect.population}}</td>
            <td>{{report.equipment_35_150.effect.power}}</td>
            <td>{{report.equipment_35_150.effect.szo}}</td>

            <td>{{report.equipment_network.lep_6_20}}</td>
            <td>{{report.equipment_network.tp_6_20}}</td>

            <td>{{report.equipment_network.effect.population}}</td>
            <td>{{report.equipment_network.effect.power}}</td>
            <td>{{report.equipment_network.effect.szo}}</td>

            <td class="total">{{report.getTotalEffect().tp_6_20}}</td>
            <td class="total">{{report.getTotalEffect().population}}</td>
            <td class="total">{{report.getTotalEffect().power}}</td>
            <td class="total">{{report.getTotalEffect().szo}}</td>

            <td>{{report.resources.brigades}}</td>
            <td>{{report.resources.people}}</td>
            <td>{{report.resources.technics}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <table class="operative-situation-reports w-100">
          <tr>
            <th rowspan="2" scope="colgroup">Всего 6 кВ и выше</th>
            <th colspan="4" scope="colgroup">Основная сеть 35 кВ и выше</th>
            <th rowspan="2" scope="colgroup">ЛЭП<br> р/с</th>
            <th rowspan="2" scope="colgroup">ТН с погаш.</th>
            <th colspan="3" scope="colgroup">Сеть 0,4 кВ</th>
            <th colspan="2" scope="colgroup">Население, чел</th>
          </tr>
          <tr>
            <th scope="col" class="font-weight-normal">УАПВ</th>
            <th scope="col" class="font-weight-normal">НАПВ</th>
            <th scope="col" class="font-weight-normal">С обесточ.</th>
            <th scope="col" class="font-weight-normal">Итого</th>

            <th scope="col" class="font-weight-normal">С 6:00</th>
            <th scope="col" class="font-weight-normal">Откл. на срез</th>
            <th scope="col" class="font-weight-normal">Более 3 часов</th>

            <th scope="col" class="font-weight-normal">По сети 0,4 кВ на срез</th>
            <th scope="col" class="font-weight-normal">По сети 0,4 кВ (более 3 часов)</th>
          </tr>
          <tr class="content">
            <td class="p-3">{{report.violations.total_6}}</td>
            <td class="p-3">{{report.violations.uapv_35}}</td>
            <td class="p-3">{{report.violations.napv_35}}</td>
            <td class="p-3">{{report.violations.power_off_35}}</td>
            <td class="p-3">{{report.violations.uapv_35 + report.violations.napv_35 + report.violations.power_off_35}}</td>

            <td class="p-3">{{report.violations.lep_rs}}</td>
            <td class="p-3">{{report.violations.tn_cancel}}</td>
            <td class="p-3">{{report.violations.from_6_04}}</td>
            <td class="p-3">{{report.violations.power_off_04}}</td>
            <td class="p-3">{{report.violations.greater_3_04}}</td>
            <td class="p-3">{{report.violations.population_srez_04}}</td>
            <td class="p-3">{{report.violations.population_greater_3_04}}</td>
          </tr>
        </table>
      </div>
      <div class="col-3">
        <table class="operative-situation-reports w-100">
          <tr>
            <th colspan="4">Погодные условия</th>
            <th>Режимы</th>
          </tr>
          <tr>
            <th scope="col" class="font-weight-normal">t min</th>
            <th scope="col" class="font-weight-normal">t max</th>
            <th scope="col" class="font-weight-normal">Ветер, <br>м/с</th>
            <th scope="col" class="font-weight-normal">Осадки</th>
            <th scope="col" class="font-weight-normal">РПГ / ОРР</th>
          </tr>
          <tr class="content">
            <td class="p-3">{{report.weather.min}}</td>
            <td class="p-3">{{report.weather.max}}</td>
            <td class="p-3">{{report.weather.wind}}</td>
            <td class="p-3">{{report.weather.precipitations}}</td>
            <td class="p-3">{{report.weather.orr ? 'ОРР' : report.weather.rpg ? 'РПГ' : 'Нет'}}</td>
          </tr>
        </table>
      </div>
      <div class="col-2">
        <mat-card class="w-100">
          <mat-card-header>
            <mat-card-title class="text-center">Максимум потребления за прошедшие сутки</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h1 class="text-center">
              {{report.consumption}}
            </h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
-->

