<div class="report-list-component d-flex flex-column justify-content-start align-items-center h-100 p-4">
  <mat-tab-group [@.disabled]="true" class="w-100 h-100" id="report-periods" (selectedTabChange)="onSelectTimePeriod($event)" style="flex-shrink: 0" [selectedIndex]="osr.periods().indexOf(osr.selectedPeriod$.getValue())">
    <mat-tab *ngFor="let period of osr.periods()">
      <ng-template mat-tab-label>
        <div class="d-flex flex-column justify-content-between align-items-center h-100" [ngClass]="{'with-data': osr.getReportByTimePeriod(period)}">
          <div class="d-flex justify-content-center align-items-end" style="flex: 1">
            <mat-icon class="mr-2">access_time</mat-icon>
            <span>{{period}}</span>
          </div>
          <div class="corner"></div>
        </div>
      </ng-template>
      <div class="d-flex flex-column justify-content-start align-items-center pt-4 h-100">


        <div class="container-fluid pl-0 pr-0" style="overflow: hidden; flex-shrink: 0;" *ngIf="(osr.selectedReport() | async) as report">

          <div class="row">
            <div class="col-8" style="flex-shrink: 0;">
              <div class="section border-bottom">
                <div class="section-title ml-0 pl-0 pt-3 pb-3 border-bottom-0">
                  <div class="section-title-label">
                    <div class="primary-label">Оборудование 35-150 кВ</div>
                  </div>
                </div>
                <div class="section-content p-0" style="flex-shrink: 1; overflow: hidden;">
                  <table class="d-flex operative-situation-reports w-100">
                    <tr>
                      <th colspan="4" scope="colgroup" class="top border-right" style="border-color: #E0E0E0 !important;">Отключенное оборудование по сети 35-150 кВ</th>
                      <th colspan="4" scope="colgroup" class="top  border-right">Последствия для потребителей по сети 35-150 кВ</th>
                      <th colspan="2" scope="colgroup" class="top  border-right">Распределительная сеть</th>
                      <th colspan="3" scope="colgroup" class="top  border-right">Последствия для потребителей по распределительной сети</th>
                      <th colspan="4" scope="colgroup" class="top ">Последствия для потребителей суммарно по основной и распределительной сети</th>
                    </tr>
                    <tr>
                      <th scope="col" class="font-weight-normal border-right">ЛЭП 110-150 кВ, шт</th>
                      <th scope="col" class="font-weight-normal border-right">ЛЭП 35 кВ, шт.</th>
                      <th scope="col" class="font-weight-normal border-right">ПС 110 -150 кВ, шт</th>
                      <th scope="col" class="font-weight-normal border-right">ПС 35 кВ, шт</th>

                      <th scope="col" class="font-weight-normal border-right">ТП 6-20 кВ, шт</th>
                      <th scope="col" class="font-weight-normal border-right">Население, чел</th>
                      <th scope="col" class="font-weight-normal border-right">Нагрузка, МВт</th>
                      <th scope="col" class="font-weight-normal border-right">СЗО, шт</th>

                      <th scope="col" class="font-weight-normal border-right">ЛЭП 6-20 кВ, шт</th>
                      <th scope="col" class="font-weight-normal border-right">ТП 6-20 кВ, шт</th>

                      <th scope="col" class="font-weight-normal border-right">Население, чел</th>
                      <th scope="col" class="font-weight-normal border-right">Нагрузка, МВт</th>
                      <th scope="col" class="font-weight-normal border-right">СЗО, шт</th>

                      <th scope="col" class="font-weight-normal border-right">ТП 6-20 кВ, шт</th>
                      <th scope="col" class="font-weight-normal border-right">Население, чел</th>
                      <th scope="col" class="font-weight-normal border-right">Нагрузка, МВт</th>
                      <th scope="col" class="font-weight-normal">СЗО, шт</th>
                    </tr>
                    <tr class="content">
                      <td class="border-right">{{report.equipment_35_150.lep_110_150}}</td>
                      <td class="border-right">{{report.equipment_35_150.lep_35}}</td>
                      <td class="border-right">{{report.equipment_35_150.ps_110_150}}</td>
                      <td class="border-right">{{report.equipment_35_150.ps_35}}</td>

                      <td class="border-right">{{report.equipment_35_150.effect.tp_6_20}}</td>
                      <td class="border-right">{{report.equipment_35_150.effect.population}}</td>
                      <td class="border-right">{{report.equipment_35_150.effect.power}}</td>
                      <td class="border-right">{{report.equipment_35_150.effect.szo}}</td>

                      <td class="border-right">{{report.equipment_network.lep_6_20}}</td>
                      <td class="border-right">{{report.equipment_network.tp_6_20}}</td>

                      <td class="border-right">{{report.equipment_network.effect.population}}</td>
                      <td class="border-right">{{report.equipment_network.effect.power}}</td>
                      <td class="border-right">{{report.equipment_network.effect.szo}}</td>

                      <td class="total border-right">{{report.getTotalEffect().tp_6_20}}</td>
                      <td class="total border-right">{{report.getTotalEffect().population}}</td>
                      <td class="total border-right">{{report.getTotalEffect().power}}</td>
                      <td class="total">{{report.getTotalEffect().szo}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="section h-100">
                <div class="section-title ml-0 pl-0 pt-3 pb-3 border-bottom-0">
                  <div class="section-title-label">
                    <div class="primary-label">Задействованные ресурсы</div>
                  </div>
                </div>
                <div class="section-content justify-content-around p-0">
                  <div class="row no-gutters h-50" style="background: white; border-bottom: 1px dotted lightgray;">
                    <div class="col-12 d-flex flex-row justify-content-between">
                      <div class="d-flex flex-column justify-content-center align-items-center indicator border-right" style="width: 33%;">
                        <div class="value">{{report.resources.rise}}</div>
                        <div class="description">Задействовано<br>РИСЭ, шт</div>
                      </div>

                      <div class="d-flex flex-column justify-content-center align-items-center indicator border-right" style="width: 33%">
                        <div class="value">{{report.resources.riseSumPower}}</div>
                        <div class="description">Суммарная<br>мощность, кВт</div>
                      </div>

                      <div class="d-flex flex-column justify-content-center align-items-center indicator" style="width: 33%">
                        <div class="value">{{report.resources.risePeople}}</div>
                        <div class="description">Запитано от<br>РИСЭ, человек</div>
                      </div>
                    </div>
                  </div>

                  <div class="row no-gutters h-50 border-bottom" style="background: white;">
                    <div class="col-12 d-flex flex-row justify-content-between">
                      <div class="d-flex flex-column align-items-center indicator border-right" style="width: 33%">
                        <div class="value">{{report.resources.brigades}}</div>
                        <div class="description">Задействовано<br>бригад, шт</div>
                      </div>

                      <div class="d-flex flex-column align-items-center indicator border-right" style="width: 33%">
                        <div class="value">{{report.resources.people}}</div>
                        <div class="description">Человек<br>задействовано</div>
                      </div>

                      <div class="d-flex flex-column align-items-center indicator" style="width: 33%">
                        <div class="value">{{report.resources.technics}}</div>
                        <div class="description">Единиц<br>техники, шт</div>
                      </div>
                    </div>
                  </div>

                  <!--
                  <table class="operative-situation-reports h-100">
                    <tr class="border-bottom">
                      <th colspan="3" scope="colgroup" class="border-right">Задействованные РИСЭ</th>
                      <th colspan="3" scope="colgroup">Задействованные силы и средства</th>
                    </tr>
                    <tr>
                      <th scope="col" class="font-weight-normal border-right">Количество, шт</th>
                      <th scope="col" class="font-weight-normal border-right">P∑, кВт</th>
                      <th scope="col" class="font-weight-normal border-right">Запитано от РИСЭ, чел</th>

                      <th scope="col" class="font-weight-normal border-right">Бригад, шт</th>
                      <th scope="col" class="font-weight-normal border-right">Человек</th>
                      <th scope="col" class="font-weight-normal">Единиц техники, шт</th>
                    </tr>
                    <tr  class="content">
                      <td class="border-right">{{report.resources.rise}}</td>
                      <td class="border-right">{{report.resources.riseSumPower}}</td>
                      <td class="border-right">{{report.resources.risePeople}}</td>

                      <td class="border-right">{{report.resources.brigades}}</td>
                      <td class="border-right">{{report.resources.people}}</td>
                      <td>{{report.resources.technics}}</td>
                    </tr>
                  </table>
                  -->
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-8">
              <div class="section border-bottom">
                <div class="section-title ml-0 pl-0 pt-3 pb-3 border-bottom-0">
                  <div class="section-title-label">
                    <div class="primary-label">Нарушения</div>
                  </div>
                </div>
                <div class="section-content p-0">
                  <table class="operative-situation-reports w-100">
                    <tr class="border-bottom">
                      <th rowspan="2" scope="colgroup" class="top border-right">Всего 6 кВ и выше</th>
                      <th colspan="4" scope="colgroup" class="top border-right">Основная сеть 35 кВ и выше</th>
                      <th rowspan="2" scope="colgroup" class="top border-right">ЛЭП<br> р/с</th>
                      <th rowspan="2" scope="colgroup" class="top border-right">ТН с погаш.</th>
                      <th colspan="3" scope="colgroup" class="top border-right">Сеть 0,4 кВ</th>
                      <th colspan="2" scope="colgroup" class="top">Население, чел</th>
                    </tr>
                    <tr>
                      <th scope="col" class="font-weight-normal border-right">УАПВ</th>
                      <th scope="col" class="font-weight-normal border-right">НАПВ</th>
                      <th scope="col" class="font-weight-normal border-right">С обесточ.</th>
                      <th scope="col" class="font-weight-normal border-right">Итого</th>

                      <th scope="col" class="font-weight-normal border-right">С 6:00</th>
                      <th scope="col" class="font-weight-normal border-right">Откл. на срез</th>
                      <th scope="col" class="font-weight-normal border-right">Более 3 часов</th>

                      <th scope="col" class="font-weight-normal border-right">По сети 0,4 кВ на срез</th>
                      <th scope="col" class="font-weight-normal">По сети 0,4 кВ (более 3 часов)</th>
                    </tr>
                    <tr class="content">
                      <td class="p-3 border-right">{{report.violations.total_6}}</td>
                      <td class="p-3 border-right">{{report.violations.uapv_35}}</td>
                      <td class="p-3 border-right">{{report.violations.napv_35}}</td>
                      <td class="p-3 border-right">{{report.violations.power_off_35}}</td>
                      <td class="p-3 border-right">{{report.violations.uapv_35 + report.violations.napv_35}}</td>

                      <td class="p-3 border-right">{{report.violations.lep_rs}}</td>
                      <td class="p-3 border-right">{{report.violations.tn_cancel}}</td>
                      <td class="p-3 border-right">{{report.violations.from_6_04}}</td>
                      <td class="p-3 border-right">{{report.violations.power_off_04}}</td>
                      <td class="p-3 border-right">{{report.violations.greater_3_04}}</td>
                      <td class="p-3 border-right">{{report.violations.population_srez_04}}</td>
                      <td class="p-3">{{report.violations.population_greater_3_04}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="section h-100">
                <div class="section-title ml-0 pl-0 pt-3 pb-3 border-bottom-0">
                  <div class="section-title-label">
                    <div class="primary-label">Погодные условия</div>
                  </div>
                </div>
                <div class="section-content p-0">
                  <div class="row h-100 p-3 border-bottom" style="background: white;">
                    <div class="col-8 d-flex flex-column justify-content-between border-right">
                      <div class="d-flex flex-row align-items-center indicator-row h-25">
                        <div class="title w-75">Мин. температура</div>
                        <div class="value w-25">{{report.weather.min}}&deg;</div>
                      </div>
                      <div class="d-flex flex-row align-items-center indicator-row h-25">
                        <div class="title w-75">Макс. температура</div>
                        <div class="value w-25">{{report.weather.max}}&deg;</div>
                      </div>
                      <div class="d-flex flex-row align-items-center indicator-row h-25">
                        <div class="title w-75">Ветер</div>
                        <div class="value w-25">{{report.weather.wind}} м/с</div>
                      </div>
                      <div class="d-flex flex-row align-items-center indicator-row border-bottom-0 h-25">
                        <div class="title w-50">Осадки</div>
                        <div class="value w-50">{{report.weather.precipitations}}</div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="d-flex flex-column justify-content-center align-items-center h-100 indicator">
                        <div class="value">{{report.weather.orr ? 'ОРР' : report.weather.rpg ? 'РПГ' : 'Нет'}}</div>
                        <div class="description">Режим ОРР / РПГ</div>
                      </div>
                    </div>
                  </div>


                  <div *ngIf="osr.selectedReport$.getValue().weatherSummary">
                    <mat-table [dataSource]="locationsDataSource" class="weather-locations-table">

                      <!-- Position Column -->
                      <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef>Насел. пункт</mat-header-cell>
                        <mat-cell *matCellDef="let location"> {{location.title}} </mat-cell>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="temperature">
                        <mat-header-cell *matHeaderCellDef class="weather-temperature-column"> t&deg; </mat-header-cell>
                        <mat-cell *matCellDef="let location" class="weather-temperature-column"> {{location.weather.temperature}} </mat-cell>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="wind">
                        <mat-header-cell *matHeaderCellDef class="weather-wind-column"> Ветер</mat-header-cell>
                        <mat-cell *matCellDef="let location" class="weather-wind-column"> {{location.weather.wind}}</mat-cell>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="precipitations">
                        <mat-header-cell *matHeaderCellDef> Осадки </mat-header-cell>
                        <mat-cell *matCellDef="let location"> {{location.weather.precipitations}} </mat-cell>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="icon">
                        <mat-header-cell *matHeaderCellDef class="weather-icon-column"> </mat-header-cell>
                        <mat-cell *matCellDef="let location" class="weather-icon-column">
                          <img src="http://openweathermap.org/img/w/{{location.weather.icon}}.png">
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="weatherSummaryDisplayColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: weatherSummaryDisplayColumns;"></mat-row>
                    </mat-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="report-controls d-flex flex-row justify-content-start align-items-center w-100 mt-3"
             style="flex-shrink: 0"
             *ngIf="(osr.selectedReport() | async)">
          <button mat-stroked-button
                  class="mt-3 mr-2"
                  (click)="openEditReportDialog()"
                  [disabled]="(osr.isFetchingData() | async)">
            <div class="d-flex justify-content-center align-items-center">Изменить отчет</div>
          </button>

          <button mat-stroked-button
                  class="mt-3"
                  (click)="exportReport()"
                  [disabled]="(osr.isFetchingData() | async)">
            <div class="d-flex justify-content-center align-items-center">Экспорт в Excel</div>
          </button>
        </div>

        <div class="report-controls d-flex flex-column justify-content-center align-items-center h-100 w-25"
             style="flex-shrink: 0"
             *ngIf="!(osr.selectedReport() | async)">
          <div class="lead text-center text-muted mb-4" style="line-height: 17px;">Отчет об оперативной обстановке на {{ period }} отсутствует</div>
          <button mat-stroked-button class="p-2 w-50" (click)="openAddReportDialog()">
            <div class="d-flex justify-content-center align-items-center">
              Добавить отчет
            </div>
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex flex-column justify-content-between align-items-center h-100"
             [ngClass]="{'with-data': (osr.consumption() | async)}">
          <div class="d-flex justify-content-center align-items-end" style="flex: 1">
            <mat-icon class="mr-2">offline_bolt</mat-icon>
            <span>Потребление</span>
          </div>
          <div class="corner"></div>
        </div>
      </ng-template>
      <div class="consumption-tab d-flex flex-column justify-content-center align-items-center h-100 p-4">

        <div class="report-controls d-flex flex-column justify-content-center align-items-center w-25 h-100" *ngIf="osr.consumption() | async">
          <div class="lead text-center text-muted" style="line-height: 18px;">Максимум потребления за прошедшие сутки</div>
          <div class="consumption d-flex justify-content-center align-items-center w-100 p-5 text-center">
            <mat-icon class="mr-3">offline_bolt</mat-icon>
            <span>{{(osr.consumption() | async).consumption}}</span>
          </div>
          <button mat-stroked-button class="mt-3 w-100 p-2" (click)="openEditConsumptionDialog()">
            <div class="d-flex justify-content-center align-items-center">
              Изменить
            </div>
          </button>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center w-25 h-100" *ngIf="!(osr.consumption() | async)">
          <div class="lead text-center text-muted">Максимум потребления за прошедшие сутки не указан</div>
          <button mat-stroked-button color="primary" class="pt-2 pb-2 pl-3 pr-3 mt-3 w-100" (click)="openAddConsumptionDialog()">
            <div class="d-flex justify-content-center align-items-center">
              <mat-icon class="mr-2">add</mat-icon>
              Добавить
            </div>
          </button>
        </div>

      </div>
    </mat-tab>

  </mat-tab-group>
</div>

