<div id="application-settings" class="w-100" #content>
  <mat-grid-list cols="3" gutterSize="10">
    <mat-grid-tile *ngFor="let settingsGroup of applications.selectedApplication()?.settings"
                   [colspan]="settingsGroup.cols"
                   [rowspan]="settingsGroup.rows">
      <!-- Start: Подразделения организации -->
      <div class="section d-flex flex-column w-100 h-100">

        <!-- Start: Заголовок секции -->
        <div class="section-title">
          <div class="section-title-label">
            <div class="primary-label">{{settingsGroup.title}}</div>
            <div class="secondary-label">{{settingsGroup.description}}</div>
          </div>
          <div class="section-title-controls">
            <button mat-icon-button>
              <mat-icon class="text-success"
                        matTooltip="Добавить подразделение"
                        matTooltipPosition="above"
                        (click)="openDepartmentAddDialog()">
                add
              </mat-icon>
            </button>
          </div>
        </div>
        <!-- End: Заголовок секции -->

        <div class="section-content">

          <!--
          <mat-table class="company-departments-table item-list selectable"
                     [dataSource]="companies.departmentsDataSource"
                     *ngIf="companies.selectedCompany$.getValue()?.departments.length > 0">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
              <mat-cell *matCellDef="let department">
                <div class="d-flex flex-row align-items$-center">
                  <mat-icon class="label mr-2">location_city</mat-icon>
                  <div class="d-flex flex-column w-100">
                    <div class="primary-label">{{department.backup.value('title')}}</div>
                    <div class="secondary-label">{{department.backup.value('title')}}</div>
                  </div>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="controls">
              <mat-header-cell *matHeaderCellDef class="controls-column"> </mat-header-cell>
              <mat-cell *matCellDef="let department" class="controls-column">
                <button mat-icon-button
                        [matMenuTriggerFor]="departmentMenu"
                        *ngIf="companies.selectedDepartment$.getValue()?.id === department.id">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #departmentMenu="matMenu">
                  <button mat-menu-item (click)="openDepartmentEditDialog()">
                    <mat-icon class="text-info">edit</mat-icon>
                    <span>Изменить</span>
                  </button>
                  <button mat-menu-item (click)="openDepartmentDeleteDialog()">
                    <mat-icon class="text-danger">delete</mat-icon>
                    <span>Удалить</span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>

            <mat-row *matRowDef="let department; columns: departmentsDisplayColumns;"
                     [ngClass]="{'selected': companies.selectedDepartment$.getValue().id === department.id}"
                     (click)="companies.selectedDepartment(department)"></mat-row>
          </mat-table>
          -->

          <!-- Start: Заглушка на случай отсутствия производственных отделений у организации -->
          <!--
          <div class="section-placeholder" *ngIf="(companies.selectedCompany() | async)?.departments.length === 0">
            Подразделения отсутствуют
          </div>
          -->
          <!-- End: Заглушка на случай отсутствия производственных отделений у организации -->
        </div>
      </div>
      <!-- End: Подразделения организации -->
    </mat-grid-tile>
  </mat-grid-list>

</div>
