<div class="container-fluid h-100 control-panel-dialog">
  <div matDialogTitle>
    <h4>Добавление права пользователя</h4>
  </div>

  <mat-dialog-content>
    <form [formGroup]="addPermissionForm">
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Код</mat-label>
            <input matInput placeholder="Введите код" formControlName="code" [(ngModel)]="newPermission.code">
            <mat-error *ngIf="addPermissionForm.controls['code'].invalid">Вы не указали код</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Наименование</mat-label>
            <input matInput placeholder="Введите наименование" formControlName="title" [(ngModel)]="newPermission.title">
            <mat-error *ngIf="addPermissionForm.controls['title'].invalid">Вы не указали наименование</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="d-flex flex-row justify-content-end align-items-center w-100 pt-2 pb-2 pl-4 pr-4">
      <button mat-flat-button
              type="button"
              color="warn"
              class="w-25 mr-2"
              [disabled]="(applications.isAddingRole() | async)"
              (click)="closeDialog()">
        Отмена
      </button>
      <button mat-flat-button
              type="submit"
              class="w-25"
              [disabled]="(applications.isAddingRole() | async) || addPermissionForm.invalid"
              (click)="addPermission()">
        Добавить
      </button>
    </div>
  </mat-dialog-actions>

</div>
