<div class="aho-request-details h-100 d-flex flex-column">

  <!-- Start: Заголовок диалогового окна с информацией о заявке -->
  <div mat-dialog-title class="request-dialog-header d-flex flex-row mb-0">

    <!-- Start: Иконка типа заявки -->
    <div class="d-flex">
      <div class="request-icon d-flex justify-content-center text-center align-items-center align-content-center mr-2">
        <mat-icon fontSet="fa" fontIcon="{{ aho.getSelectedRequest().type.icon }}"></mat-icon>
      </div>
    </div>
    <!-- End: Иконка типа заявки -->


    <div class="d-flex flex-column justify-content-center" style="flex: 1;">


      <div class="request-title d-flex flex-row justify-content-between">
        <!-- Start: Номер и дата подачи заявки -->
        <div class="request-number">
          <span class="bold mb-1">Заявка №{{ aho.getSelectedRequest().id }}</span>
          <span>от {{ aho.getSelectedRequest().dateCreated | date:'dd.MM.yyyy, HH:mm' }}</span>
        </div>
        <!-- End: Номер и дата подачи заявки -->

        <!-- Start: Кнопка вызова меню управления завякой -->
        <div class="d-flex align-items-start">
          <button mat-icon-button
                  *ngIf="auth.getCurrentUser() && aho.isUserIsEmployee(auth.getCurrentUser())"
                  [matMenuTriggerFor]="requestMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #requestMenu="matMenu" [yPosition]="'below'">
            <button mat-menu-item (click)="exportRequest()">
              <mat-icon color="primary">import_export</mat-icon>
              Экспорт в Excel
            </button>
            <button mat-menu-item (click)="rejectRequest()" *ngIf="aho.getSelectedRequest().status.id !== 4">
              <mat-icon color="primary">cancel</mat-icon>
              Отклонить заявку
            </button>
            <button mat-menu-item (click)="resumeRequest()" *ngIf="aho.getSelectedRequest().status.id === 4">
              <mat-icon color="primary">replay</mat-icon>
              Возобновить заявку
            </button>
            <button mat-menu-item (click)="deleteRequest()" *ngIf="auth.getCurrentUser() && auth.getCurrentUser().permissions.getPermissionByCode('allow_delete_requests')">
              <mat-icon color="primary">delete</mat-icon>
              Удалить заявку
            </button>
          </mat-menu>
        </div>
        <!-- End: Кнопка вызова меню управления завякой -->
      </div>

      <div class="request-type">
        {{ aho.getRequestTypeById(aho.getSelectedRequest().type.id).title + (aho.getSelectedRequest().room ? ' в кабинете #' + aho.getSelectedRequest().room : '')}}
      </div>
    </div>

    <!--
    <div class="d-flex flex-column justify-content-around">
      <div class="request-title d-flex align-content-start">
        <span>Заявка №{{ aho.getSelectedRequest().id }}</span>
        <span class="request-date">от {{ aho.getSelectedRequest().dateCreated | date:'dd.MM.yyyy, HH:mm' }}</span>
        <button class="float-right" mat-icon-button *ngIf="auth.getCurrentUser() && auth.getCurrentUser().permissions.getRoleById(1)" [matMenuTriggerFor]="requestMenu">
          <mat-icon [color]="'primary'">more_vert</mat-icon>
        </button>
        <mat-menu #requestMenu="matMenu" [yPosition]="'below'">
          <button mat-menu-item (click)="deleteRequest()">
            <mat-icon color="'primary'">delete</mat-icon>
            Удалить заявку
          </button>
        </mat-menu>
      </div>
      <div class="request-user">
        {{ aho.getRequestTypeById(aho.getSelectedRequest().type.id).title + (aho.getSelectedRequest().room ? ' в кабинете #' + aho.getSelectedRequest().room : '')}}
      </div>
    </div>
    -->


    <!--
    <div class="text-center">
      <div class="request-title">
        Заявка №{{ aho.getSelectedRequest().id }}
        <span class="request-date">от {{ aho.getSelectedRequest().dateCreated | date:'dd.MM.yyyy, HH:mm' }}</span>
        <button class="float-right" mat-icon-button *ngIf="auth.getCurrentUser() && auth.getCurrentUser().permissions.getRoleById(1)" [matMenuTriggerFor]="requestMenu">
          <mat-icon [color]="'primary'">more_vert</mat-icon>
        </button>
        <mat-menu #requestMenu="matMenu" [yPosition]="'below'">
          <button mat-menu-item (click)="deleteRequest()">
            <mat-icon color="'primary'">delete</mat-icon>
            Удалить заявку
          </button>
        </mat-menu>
      </div>
      <div class="request-user">
        Заявитель: {{ aho.getSelectedRequest().user.fio }}
      </div>
    </div>
    -->
  </div>
  <!-- End: Заголовок диалогового окна с информацией о заявке -->


  <mat-dialog-content>

    <mat-tab-group [dynamicHeight]="false" ngClass="h-100" (selectedIndexChange)="tabChange($event)">

      <!-- Start: Содкржание заявки -->
      <mat-tab label="Содержание" class="mh-100">
        <div class="p-4">

          <div class="container-fluid">

            <!-- Start: Заявитель -->
            <div class="row">
              <div class="request-attribute col-12 d-flex align-items-center pt-2 pb-2 pl-3 pr-3">
                <mat-icon class="mr-3">account_circle</mat-icon>
                <div class="d-flex flex-column">
                  <span class="label">Заявитель</span>
                  <span>{{ aho.getSelectedRequest().user.fio }}</span>
                </div>
              </div>
            </div>
            <!-- End: Заявитель -->

            <div class="row mt-2">
              <!-- Start: Срок исполнения -->
              <div class="request-attribute d-flex align-items-center pt-2 pb-2 pl-3 pr-3"
                   [ngClass]="{'col-12': !aho.getSelectedRequest().numberOfLoaders && !aho.getSelectedRequest().room, 'col-6': (aho.getSelectedRequest().numberOfLoaders && !aho.getSelectedRequest().room) || (!aho.getSelectedRequest().numberOfLoaders && aho.getSelectedRequest().room),'col-4': aho.getSelectedRequest().numberOfLoaders && aho.getSelectedRequest().room, 'col-3': aho.getSelectedRequest().numberOfLoaders || aho.getSelectedRequest().room}"
                   *ngIf="aho.getSelectedRequest().dateExpires">
                <mat-icon class="mr-2">calendar_today</mat-icon>
                <div class="d-flex flex-column">
                  <span class="label">{{ aho.getSelectedRequest().room && aho.getSelectedRequest().numberOfLoaders ? 'Срок исполн.' : 'Срок исполнения' }}</span>
                  <div class="d-flex flex-row align-items-center">
                    <span class="mr-2">{{ aho.getSelectedRequest().dateExpires | date:'dd.MM.yyyy' }}</span>
                    <mat-icon *ngIf="aho.getSelectedRequest().isExpired" class="expired" matTooltip="Заявка просрочена"
                              matTooltipPosition="below">error_outline
                    </mat-icon>
                  </div>
                </div>
              </div>
              <!-- End: Срок исполнения -->

              <!-- Start: Кабинет -->
              <div class="request-attribute d-flex align-items-center pt-2 pb-2 pl-3 pr-3"
                   [ngClass]="{'col-12': !aho.getSelectedRequest().numberOfLoaders && !aho.getSelectedRequest().dateExpires, 'col-6': (aho.getSelectedRequest().numberOfLoaders && !aho.getSelectedRequest().dateExpires) || (!aho.getSelectedRequest().numberOfLoaders && aho.getSelectedRequest().dateExpires),'col-4': aho.getSelectedRequest().numberOfLoaders && aho.getSelectedRequest().dateExpires, 'col-3': aho.getSelectedRequest().numberOfLoaders || aho.getSelectedRequest().dateExpires}"
                   *ngIf="aho.getSelectedRequest().room" [ngClass]="{'col-12': !aho.getSelectedRequest().dateExpires}">
                <mat-icon class="mr-2">room</mat-icon>
                <div class="d-flex flex-column">
                  <span class="label">Кабинет</span>
                  <span>{{ aho.getSelectedRequest().room }}</span>
                </div>
              </div>
              <!-- End: Кабинет -->

              <!-- Start: Количество грузчиков -->
              <div class="request-attribute d-flex align-items-center pt-2 pb-2 pl-3 pr-3"
                   [ngClass]="{'col-12': !aho.getSelectedRequest().dateExpires && !aho.getSelectedRequest().room, 'col-6': (aho.getSelectedRequest().dateExpires && !aho.getSelectedRequest().room) || (!aho.getSelectedRequest().dateExpires && aho.getSelectedRequest().room),'col-4': aho.getSelectedRequest().dateExpires && aho.getSelectedRequest().room, 'col-3': aho.getSelectedRequest().dateExpires || aho.getSelectedRequest().room}"
                   *ngIf="aho.getSelectedRequest().numberOfLoaders">
                <mat-icon class="mr-2">directions_walk</mat-icon>
                <div class="d-flex flex-column">
                  <span class="label">Грузчиков</span>
                  <span>{{ aho.getSelectedRequest().numberOfLoaders }}</span>
                </div>
              </div>
              <!-- End: Количество грузчиков -->
            </div>

            <!-- Start: Причина отклонения -->
            <div class="row mt-2" *ngIf="aho.getSelectedRequest().rejectReason">
              <div class="request-attribute warning col-12 d-flex align-items-center pt-2 pb-2 pl-3 pr-3">
                <mat-icon class="mr-3">cancel</mat-icon>
                <div class="d-flex flex-column">
                  <span class="label">Причина отклонения завки</span>
                  <span>{{ aho.getSelectedRequest().rejectReason.content }}</span>
                </div>
              </div>
            </div>
            <!-- End: Причина отклонения -->
          </div>


          <!-- Start: Список задач -->
          <div class="mt-2" *ngIf="aho.getSelectedRequest().tasks.length > 0">
            <mat-selection-list>
              <mat-list-option *ngFor="let task of aho.getSelectedRequest().tasks"
                               (selectionChange)="completeTask($event, task)"
                               [selected]="task.done"
                               [disabled]="!auth.getCurrentUser() || !auth.getCurrentUser().permissions.getPermissionByCode('allow_complete_tasks')">
                <span matLine>{{ task.content.title }}</span>
                <span matLine class="text-muted" *ngIf="aho.getSelectedRequest().type.isCountable">Количество: {{ task.content['boxing'] ? task.count + ' ' + task.content.boxing : task.count + ' шт' }}</span>
              </mat-list-option>
            </mat-selection-list>
          </div>
          <!-- End: Список задач -->
        </div>

      </mat-tab>
      <!-- End: Содержание заявки -->

      <!-- Start: Комментарии к заявке -->
      <mat-tab label="Комментарии" class="mh-100">
        <ng-template mat-tab-label>
          <div class="d-flex">
            Комментарии
            <span class="badge ml-2" *ngIf="aho.getSelectedRequest().comments.length > 0">
          {{ aho.getSelectedRequest().comments.length }}
          </span>
          </div>
        </ng-template>

        <!-- Start: No comments placeholder -->
        <div *ngIf="aho.getSelectedRequest().comments.length === 0" class="h-100 d-flex flex-column justify-content-center align-items-center">
          <div class="no-comments text-muted mb-3 text-center">Комментарии отсутствуют</div>
        </div>
        <!-- End: No comments placeholder -->

        <div class="pl-4 pr-4 d-flex flex-column justify-content-between" *ngIf="aho.getSelectedRequest().comments.length > 0">
          <div class="d-flex w-100 h-100 flex-column justify-content-center align-self-center">
            <!-- Start: Request comments -->
            <div class="request-comments w-100 h-100 d-flex flex-column justify-content-end pb-4">
              <div class="comment"
                   [ngClass]="{'own': comment.userId === aho.getSelectedRequest().user.id}"
                   *ngFor="let comment of aho.getSelectedRequest().comments">
                <div class="comment-content">
                  {{ comment.content }}
                </div>
                <div class="comment-user">
                  {{ comment.user.firstName + ' ' + comment.user.lastName + ' ' + (comment.dateCreated |  date:'dd.MM.yyyy в HH:mm') }}
                </div>
              </div>
            </div>
            <!-- End: request comments -->
          </div>
        </div>

      </mat-tab>
      <!-- End: Комментарии к заявке -->

      <!-- Start: История изменений заявки -->
      <mat-tab label="История изменений">
        <div class="p-4"></div>
      </mat-tab>
      <!-- End: История изменений заявки -->

    </mat-tab-group>



  </mat-dialog-content>
  <mat-dialog-actions>

    <!-- Start: Request employee -->
    <div class="request-employee w-100" *ngIf="selectedTabIndex === 0 && auth.getCurrentUser() && auth.getCurrentUser().permissions.getPermissionByCode('allow_set_employee')">
      <!--
      <mat-form-field class="w-100">
        <mat-select placeholder="Исполнитель" [(value)]="aho.getSelectedRequest().employee" (selectionChange)="selectEmployee($event)">
          <mat-option *ngFor="let employee of aho.getEmployees() | employeeByRequestType: aho.getSelectedRequest().type" [value]="employee">
            {{ employee.fio }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      -->


      <mat-form-field class="w-100" [floatLabel]="'never'">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let employee of aho.getSelectedRequest().employees"
                    color="primary"
                    selected="true"
                    [removable]="true"
                    (remove)="removeRequestEmployee(employee)">
            {{employee.fio}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Выберите исполнителя"
                 floa
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="['ENTER', 'COMMA']"
                 [matChipInputAddOnBlur]="false"
                 (matChipInputTokenEnd)="addEmployee($event)"
                 [matAutocomplete]="employees"/>
        </mat-chip-list>

        <mat-autocomplete
          #employees="matAutocomplete"
          [displayWith]="displayEmployee"
          (optionSelected)="selectRequestEmployee($event)">
          <mat-option
            *ngFor="let employee of aho.getEmployees() | employeeByRequestType: aho.getSelectedRequest().type | exceptSelectedEmployees: aho.getSelectedRequest()"
            [value]="employee">
            {{ employee.fio }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!-- End: Request employee -->

    <!-- Start: New comment form -->
    <div class="new-comment-form w-100" *ngIf="selectedTabIndex === 1 && auth.getCurrentUser() && (auth.getCurrentUser().id === aho.getSelectedRequest().id || auth.getCurrentUser().permissions.getPermissionByCode('allow_add_comments'))">
      <form [formGroup]="newCommentForm" class="row no-gutters w-100 d-flex">
        <div class="col">
          <mat-form-field class="w-100" [floatLabel]="'never'">
            <input type="text"
                   matInput
                   placeholder="Ваш комментарий"
                   formControlName="comment"
                   [(ngModel)]="newComment.content"
                   required>
          </mat-form-field>
        </div>
        <div class="col-auto d-flex justify-content-end align-items-center">
          <button mat-icon-button type="submit" [color]="'primary'" [disabled]="newCommentForm.invalid" (click)="addComment()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </form>
    </div>
    <!-- End: New comment form -->

    <div class="container-fluid p-0">
      <div class="row">

        <!-- End: Кнопка добавления заявки -->
        <div class="col-12 col-md-6">
          <button mat-raised-button
                  type="submit"
                  class="w-100"
                  [disabled]="!isRequestChanged || aho.isEditingRequest()"
                  [color]="'primary'"
                  (click)="editRequest()">
            <div class="d-flex justify-content-center align-items-center">
              <mat-progress-spinner class="mr-2" [diameter]="20" *ngIf="aho.isEditingRequest()"></mat-progress-spinner>
              <span>Сохранить изменения</span>
            </div>
          </button>
        </div>
        <!-- End: Кнопка добавления заявки -->


        <!-- Start: Кнопка отмены -->
        <div class="col-12 col-md-6 pt-2 pt-md-0">
          <button mat-raised-button
                  routerLink="/"
                  color="warn"
                  class="w-100"
                  [disabled]="aho.isEditingRequest()">
            Отмена
          </button>
        </div>
        <!-- End: Кнопка отмены -->

      </div>
    </div>





  </mat-dialog-actions>

</div>
