<div class="aho-request-details h-100 d-flex flex-column">
  <div mat-dialog-title class="mb-0">
    <div class="text-center">
      <div class="request-title">
        Заявка №{{ ahoRequestsService.getSelectedRequest().id }}
        <span class="request-date">от {{ ahoRequestsService.getSelectedRequest().dateCreated | date:'dd.MM.yyyy, HH:mm' }}</span>
        <button class="float-right" mat-icon-button *ngIf="authenticationService.getCurrentUser() && authenticationService.getCurrentUser().permissions.getRoleById(1)" [matMenuTriggerFor]="requestMenu">
          <mat-icon [color]="'primary'">more_vert</mat-icon>
        </button>
        <mat-menu #requestMenu="matMenu" [yPosition]="'below'">
          <button mat-menu-item (click)="deleteRequest()">
            <mat-icon color="'primary'">delete</mat-icon>
            Удалить заявку
          </button>
        </mat-menu>
      </div>
      <div class="request-user">
        Заявитель: {{ ahoRequestsService.getSelectedRequest().user.fio }}
      </div>
    </div>
    <!--
    <div class="user">Автор: {{ ahoRequestsService.getSelectedRequest().user.fio }}</div>
    -->
  </div>
  <mat-dialog-content>

    <mat-tab-group class="demo-tab-group" [dynamicHeight]="false" ngClass="h-100">

      <!-- Start: Содкржание заявки -->
      <mat-tab label="Содержание" class="mh-100">
        <div class="p-4">
          <div class="request-information pb-3 text-center">
            <mat-icon fontSet="fa" fontIcon="{{ ahoRequestsService.getSelectedRequest().type.icon }}" [color]="'primary'"></mat-icon>
            {{ ahoRequestsService.getRequestTypeById(ahoRequestsService.getSelectedRequest().type.id).title }}
            <span *ngIf="ahoRequestsService.getSelectedRequest().type.id !== 1"> в кабинете #{{ahoRequestsService.getSelectedRequest().room }}</span>
          </div>

          <!-- Start: Список задач -->
          <div *ngIf="ahoRequestsService.getSelectedRequest().tasks.length > 0">
            <mat-selection-list>
              <mat-list-option *ngFor="let task of ahoRequestsService.getSelectedRequest().tasks"
                               (selectionChange)="completeTask($event, task)"
                               [selected]="task.done"
                               [disabled]="!authenticationService.getCurrentUser() || !authenticationService.getCurrentUser().permissions.getPermissionByCode('allow_complete_tasks')">
                <span matLine>{{ task.content.title }}</span>
                <span matLine class="text-muted" *ngIf="ahoRequestsService.getSelectedRequest().type.isCountable">Количество: {{ task.content['boxing'] ? task.count + ' ' + task.content.boxing : task.count + ' шт' }}</span>
              </mat-list-option>
            </mat-selection-list>
          </div>
          <!-- End: Список задач -->
        </div>

        <div *ngIf="authenticationService.getCurrentUser() && authenticationService.getCurrentUser().permissions.getPermissionByCode('allow_set_employee')" class="w-100 pl-4 pr-4">
          <mat-form-field class="w-100">
            <mat-select placeholder="Исполнитель" [(value)]="ahoRequestsService.getSelectedRequest().employee" (selectionChange)="selectEmployee($event)">
              <mat-option *ngFor="let employee of ahoRequestsService.getEmployees() | employeeByRequestType: ahoRequestsService.getSelectedRequest().type" [value]="employee">
                {{ employee.fio }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
      <!-- End: Содержание заявки -->

      <!-- Start: Комментарии к заявке -->
      <mat-tab label="Комментарии">
        <ng-template mat-tab-label>
          Комментарии
          <span *ngIf="ahoRequestsService.getSelectedRequest().comments.length > 0">
          {{ ahoRequestsService.getSelectedRequest().comments.length }}
        </span>
        </ng-template>
        <div class="pl-4 pr-4 pt-4 h-100 d-flex flex-column justify-content-between">

          <div class="w-100 h-100 d-flex flex-column justify-content-center align-self-center">
            <!-- Start: No comments placeholder -->
            <div *ngIf="ahoRequestsService.getSelectedRequest().comments.length === 0">
              <div class="no-comments text-muted mb-3 text-center">Комментарии отсутствуют</div>
            </div>
            <!-- End: No comments placeholder -->
          </div>

          <!-- Start New comment form -->
          <div class="w-100">
            <form [formGroup]="newCommentForm" class="row no-gutters w-100 d-flex">
              <div class="col">
                <mat-form-field class="w-100" [floatLabel]="'never'">
                  <input type="text"
                         matInput
                         placeholder="Ваш комментарий"
                         formControlName="comment"
                         [(ngModel)]="newComment.content"
                         required>
                </mat-form-field>
              </div>
              <div class="col-auto d-flex justify-content-end align-items-center">
                <button mat-icon-button type="submit" [color]="'primary'" [disabled]="newCommentForm.invalid" (click)="addComment()">
                  <mat-icon>send</mat-icon>
                </button>
              </div>
            </form>
          </div>
          <!-- End: New comment form -->





        </div>

      </mat-tab>
      <!-- End: Комментарии к заявке -->

      <!-- Start: История изменений заявки -->
      <mat-tab label="История изменений">
        <div class="p-4"></div>
      </mat-tab>
      <!-- End: История изменений заявки -->

    </mat-tab-group>



  </mat-dialog-content>
  <mat-dialog-actions>


    <div class="container-fluid p-0">
      <div class="row">

        <!-- End: Кнопка добавления заявки -->
        <div class="col-12 col-md-6">
          <button mat-raised-button
                  type="submit"
                  class="w-100"
                  [disabled]="!isRequestChanged"
                  [color]="'primary'"
                  (click)="editRequest()">
            <div class="d-flex flex-row w-100 align-items-center" *ngIf="ahoRequestsService.isAddingRequest()">
              <mat-progress-spinner
                class="mr-2"
                [diameter]="20"
                [color]="'success'"
                [mode]="'indeterminate'">
              </mat-progress-spinner>
              Загрузка
            </div>
            <span *ngIf="!ahoRequestsService.isAddingRequest()">Сохранить изменения</span>
          </button>
        </div>
        <!-- End: Кнопка добавления заявки -->


        <!-- Start: Кнопка отмены -->
        <div class="col-12 col-md-6 pt-2 pt-md-0">
          <button mat-raised-button
                  routerLink="/"
                  [color]="'warn'"
                  class="w-100">
            Отмена
          </button>
        </div>
        <!-- End: Кнопка отмены -->

      </div>
    </div>





  </mat-dialog-actions>

</div>
