<div class="aho-request-details h-100 d-flex flex-column">
  <div mat-dialog-title class="mb-0">
    <div class="text-center">
      <div class="request-title">
        Заявка №{{ ahoRequestsService.getSelectedRequest().id }}
        <span class="request-date">от {{ ahoRequestsService.getSelectedRequest().dateCreated | date:'dd.MM.yyyy, HH:mm' }}</span>
        <button class="float-right" mat-icon-button *ngIf="authenticationService.getCurrentUser() && authenticationService.getCurrentUser().permissions.getRoleById(1)" [matMenuTriggerFor]="requestMenu">
          <mat-icon [color]="'primary'">more_vert</mat-icon>
        </button>
        <mat-menu #requestMenu="matMenu" [yPosition]="'below'">
          <button mat-menu-item (click)="deleteRequest()">
            <mat-icon color="'primary'">delete</mat-icon>
            Удалить заявку
          </button>
        </mat-menu>
      </div>
      <div class="request-user">
        Заявитель: {{ ahoRequestsService.getSelectedRequest().user.fio }}
      </div>
    </div>
    <!--
    <div class="user">Автор: {{ ahoRequestsService.getSelectedRequest().user.fio }}</div>
    -->
  </div>
  <mat-dialog-content>

    <mat-tab-group class="demo-tab-group" [dynamicHeight]="true" ngClass="h-100">

      <!-- Start: Содкржание заявки -->
      <mat-tab label="Содержание" class="mh-100">

        <div class="p-4">
          <div class="request-information pb-3 text-center">
            {{ ahoRequestsService.getRequestTypeById(ahoRequestsService.getSelectedRequest().type.id).title }}
            <span *ngIf="ahoRequestsService.getSelectedRequest().type.id !== 1"> в кабинете #{{ahoRequestsService.getSelectedRequest().room }}</span>
          </div>


          <!-- Start: Список задач -->
          <div *ngIf="ahoRequestsService.getSelectedRequest().tasks.length > 0">
            <mat-selection-list>
              <mat-list-option *ngFor="let task of ahoRequestsService.getSelectedRequest().tasks"
                               (selectionChange)="completeTask($event, task)"
                               [selected]="task.done"
                               [disabled]="!authenticationService.getCurrentUser() || !authenticationService.getCurrentUser().permissions.getPermissionByCode('allow_complete_tasks')">
                <span matLine>{{ task.content.title }}</span>
                <span matLine class="text-muted" *ngIf="ahoRequestsService.getSelectedRequest().type.isCountable">Количество: {{ task.count + ' ' + task.content.boxing }}</span>
              </mat-list-option>
            </mat-selection-list>
          </div>
          <!-- End: Список задач -->

          <div *ngIf="authenticationService.getCurrentUser() && authenticationService.getCurrentUser().permissions.getPermissionByCode('allow_set_employee')" class="w-100 mt-3">
            <mat-form-field class="w-100">
              <mat-select placeholder="Исполнитель" [(value)]="ahoRequestsService.getSelectedRequest().employee" (selectionChange)="selectEmployee($event)">
                <mat-option *ngFor="let employee of ahoRequestsService.getEmployees() | employeeByRequestType: ahoRequestsService.getSelectedRequest().type" [value]="employee">
                  {{ employee.fio }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>


      </mat-tab>
      <!-- End: Содержание заявки -->

      <!-- Start: Комментарии к заявке -->
      <mat-tab label="Комментарии">
        <div class="p-4 h-100 d-flex justify-content-center align-items-center">
          <div class="text-muted">Комментарии отсутствуют</div>
        </div>
      </mat-tab>
      <!-- End: Комментарии к заявке -->

      <!-- Start: История изменений заявки -->
      <mat-tab label="История изменений">
        <div class="p-4"></div>
      </mat-tab>
      <!-- End: История изменений заявки -->

    </mat-tab-group>



  </mat-dialog-content>
  <mat-dialog-actions>


    <div class="container-fluid p-0">
      <div class="row">

        <!-- End: Кнопка добавления заявки -->
        <div class="col-12 col-md-6">
          <button mat-raised-button
                  type="submit"
                  class="w-100"
                  [disabled]="!isRequestChanged"
                  [color]="'primary'"
                  (click)="editRequest()">
            <div class="d-flex flex-row w-100 align-items-center" *ngIf="ahoRequestsService.isAddingRequest()">
              <mat-progress-spinner
                class="mr-2"
                [diameter]="20"
                [color]="'success'"
                [mode]="'indeterminate'">
              </mat-progress-spinner>
              Загрузка
            </div>
            <span *ngIf="!ahoRequestsService.isAddingRequest()">Сохранить изменения</span>
          </button>
        </div>
        <!-- End: Кнопка добавления заявки -->


        <!-- Start: Кнопка отмены -->
        <div class="col-12 col-md-6 pt-2 pt-md-0">
          <button mat-raised-button
                  routerLink="/"
                  [color]="'warn'"
                  class="w-100">
            Отмена
          </button>
        </div>
        <!-- End: Кнопка отмены -->

      </div>
    </div>





  </mat-dialog-actions>

</div>
