<div id="company-component" class="d-flex flex-column h-100 p-4">

  <!-- Start: Заголовок компонента -->
  <div class="component-title">
    <div class="component-title-label">
      <div class="primary-label">{{(companies.selectedCompany() | async)?.shortTitle}}</div>
      <div class="secondary-label">{{(companies.selectedCompany() | async)?.title}}</div>
    </div>
    <div class="component-title-controls">
      <button mat-stroked-button color="primary">Изменить</button>
    </div>
  </div>
  <!-- End: Заголовок компонента -->

  <!-- Start: Содержимое компонента -->
  <div class="container-fluid p-0 mt-5 w-100">
    <div class="row pr-0 w-100">
      <!-- Start: Подразделения и помещения -->
      <div class="col-4 d-flex flex-column">

        <!-- Start: Подразделения организации -->
        <div class="section d-flex flex-column" [ngClass]="{'h-50': (companies.selectedCompany() | async)?.departments.length === 0}">

          <!-- Start: Заголовок секции -->
          <div class="section-title">
            <div class="section-title-label">
              <div class="primary-label">Подразделения</div>
            </div>
            <div class="section-title-controls">
              <button mat-icon-button>
                <mat-icon class="text-success" matTooltip="Добавить подразделение" matTooltipPosition="above">add</mat-icon>
              </button>
            </div>
          </div>
          <!-- End: Заголовок секции -->

          <div class="section-content h-100">
            <mat-table class="company-departments-table item-list" [dataSource]="departmentsDataSource">

              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <div class="d-flex flex-row align-items-center">
                    <mat-icon class="label mr-2">location_city</mat-icon>
                    <div class="d-flex flex-column w-100">
                      <div class="primary-label">{{element.title}}</div>
                      <div class="secondary-label">{{element.title}}</div>
                    </div>
                  </div>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="controls">
                <mat-header-cell *matHeaderCellDef class="controls-column"> </mat-header-cell>
                <mat-cell *matCellDef="let element" class="controls-column">
                  <button mat-icon-button [matMenuTriggerFor]="departmentMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #departmentMenu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Изменить</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Удалить</span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <!--<mat-header-row *matHeaderRowDef="departmentsDisplayColumns"></mat-header-row>-->
              <mat-row *matRowDef="let row; columns: departmentsDisplayColumns;"></mat-row>
            </mat-table>

            <!-- Start: Заглушка на случай отсутствия производственных отделений у организации -->
            <div class="section-placeholder" *ngIf="(companies.selectedCompany() | async)?.departments.length === 0"
                 [ngClass]="{'h-100': (companies.selectedCompany() | async)?.departments.length === 0}">
              Подразделения отсутствуют
            </div>
            <!-- End: Заглушка на случай отсутствия производственных отделений у организации -->
          </div>
        </div>
        <!-- End: Подразделения организации -->

        <!-- Start: Помещения организации -->
        <div class="section d-flex flex-column mt-3" [ngClass]="{'h-50': (companies.selectedCompany() | async)?.offices.length === 0}">
          <!-- Start: Заголовок секции -->
          <div class="section-title">
            <div class="section-title-label">
              <div class="primary-label">Помещения</div>
            </div>
            <div class="section-title-controls">
              <button mat-icon-button (click)="openAddOfficeDialog()">
                <mat-icon class="text-success" matTooltip="Добавить помещение" matTooltipPosition="above">add</mat-icon>
              </button>
            </div>
          </div>
          <!-- End: Заголовок секции -->

          <div class="section-content">
            <!-- Start: Таблица помещений организации -->
            <mat-table class="company-offices-table item-list" [dataSource]="officesDataSource">

              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let office">
                  <div class="d-flex flex-row align-items-center">
                    <mat-icon class="label mr-2" style="background: #ce93d8 !important;">place</mat-icon>
                    <div class="d-flex flex-column w-100">
                      <div class="primary-label">{{office.title}}</div>
                      <div class="secondary-label">{{office.address + ' - этажей: ' + office.floors}}</div>
                    </div>
                  </div>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="controls">
                <mat-header-cell *matHeaderCellDef class="controls-column"> </mat-header-cell>
                <mat-cell *matCellDef="let element" class="controls-column">
                  <button mat-icon-button [matMenuTriggerFor]="officeMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #officeMenu="matMenu">
                    <button mat-menu-item (click)="openEditOfficeDialog(element)">
                      <mat-icon>edit</mat-icon>
                      <span>Изменить</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Удалить</span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <!-- <mat-header-row *matHeaderRowDef="departmentsDisplayColumns"></mat-header-row> -->
              <mat-row *matRowDef="let row; columns: departmentsDisplayColumns;"></mat-row>
            </mat-table>
            <!-- End: Таблица помещений организации -->

            <!-- Start: Заглушка на случай отсутствия помещений у организации -->
            <div class="section-placeholder" *ngIf="(companies.selectedCompany() | async)?.offices.length === 0"
                 [ngClass]="{'h-100': (companies.selectedCompany() | async)?.offices.length === 0}">
              Помещения отсутствуют
            </div>
            <!-- End: Заглушка на случай отсутствия помещений у организации -->
          </div>
        </div>
        <!-- End: Помещения организации -->
      </div>
      <!-- End: Подразделения и помещения -->

      <!-- Start: Организационная структура -->
      <div class="col-4 d-flex flex-column">
        <div class="section h-100">
          <!-- Start: Заголовок секции -->
          <div class="section-title" style="border-bottom-color: #eeeeee !important;">
            <div class="section-title-label">
              <div class="primary-label">Организационная структура</div>
            </div>
            <div class="section-title-controls">
              <button mat-icon-button *ngIf="companies.selectedDivision$.getValue()" (click)="openDeleteDivisionDialog()">
                <mat-icon class="text-danger" matTooltip="Удалить структурное подразделение" matTooltipPosition="above">delete</mat-icon>
              </button>
              <button mat-icon-button *ngIf="companies.selectedDivision$.getValue()" (click)="openEditDivisionDialog()">
                <mat-icon class="text-info" matTooltip="Изменить структурное подразделение" matTooltipPosition="above">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="openAddDivisionDialog()">
                <mat-icon class="text-success" matTooltip="Добавить структурное подразделение" matTooltipPosition="above">add</mat-icon>
              </button>
            </div>
          </div>
          <!-- End: Заголовок секции -->

          <div class="section-content h-100">
            <app-tree-view [tree]="companies.selectedCompanyDivisionTree" (select)="selectDivision($event)"></app-tree-view>

            <!-- Start: Заглушка на случай отсутствия производственных отделений у организации -->
            <div class="section-placeholder h-100" *ngIf="companies.selectedCompany$.getValue().divisions.length === 0">
              Производственные отделения отсутствуют
            </div>
            <!-- End: Заглушка на случай отсутствия производственных отделений у организации -->
          </div>
        </div>
      </div>
      <!-- End: Организационная структура -->

      <!-- Start: Структура помещений -->
      <div class="col-4 d-flex flex-column">
        <div class="section h-100">
          <!-- Start: Заголовок секции -->
          <div class="section-title">
            <div class="section-title-label">
              <div class="primary-label">Структура помещений</div>
            </div>
            <div class="section-title-controls">
              <button mat-icon-button>
                <mat-icon class="text-success" matTooltip="Добавить помещение" matTooltipPosition="above">add</mat-icon>
              </button>
            </div>
          </div>
          <!-- End: Заголовок секции -->

          <div class="section-content h-100">
            <!-- Start: Заглушка на случай отсутствия производственных отделений у организации -->
            <div class="section-placeholder h-100">
              Производственные отделения отсутствуют
            </div>
            <!-- End: Заглушка на случай отсутствия производственных отделений у организации -->
          </div>

        </div>
      </div>
      <!-- End: Структура помещений -->

    </div>
  </div>
  <!-- End: Содержимое компонента -->

</div>
