#company-component {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

.display-4 {
  font-size: 3rem;
  color: #546E7A;
}

.company-departments-table {
  // background: transparent;
  // border-radius: 4px;
  .controls-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 40px;
    .mat-icon {
      color: #bdbdbd;
      &:hover {
        color: #9e9e9e;
      }
    }
  }
}

.company-offices-table {
  .controls-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 40px;
    .mat-icon {
      color: #bdbdbd;
      &:hover {
        color: #9e9e9e;
      }
    }
  }
}

.company-locations-table {
  .controls-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 40px;
    .mat-icon {
      color: #bdbdbd;
      &:hover {
        color: #9e9e9e;
      }
    }
  }
}
