#company-component {
  overflow: auto;
}

.display-4 {
  font-size: 3rem;
  color: #546E7A;
}

.company-departments-table {
  // background: transparent;
  // border-radius: 4px;
  .controls-column {
    display: flex;
    max-width: 40px;
    .mat-icon {
      color: #bdbdbd;
    }
  }
}

.company-offices-table {
  .controls-column {
    display: flex;
    justify-content: center;
    max-width: 40px;
    .mat-icon {
      color: #bdbdbd;
    }
  }
}


.section-title {
  font-family: "Segoe UI Light";
  font-size: 18px;
  font-weight: 600;
  color: #455A64;
}
