.new-request {
  .mat-list-item-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .mat-row {
    padding: 0px 0px;
  }

  .mat-header-row {
    min-height: 30px;
    padding: 0px 0px;
  }

  .office-stuff-item-title-column {
  }

  .office-stuff-item-count-column {
    max-width: 80px;
  }

  .office-stuff-item-controls-column {
    max-width: 60px;
    .fa {
      font-size: 20px;
    }
  }
}
