.new-request {
  .mat-list-item-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .office-stuff-item-title-column {
  }

  .office-stuff-item-count-column {
    max-width: 80px;
  }
}
