.aho-request-details {
  .mat-dialog-title {
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -25px;
    padding: 20px;
    background: #FFD740;
  }

  .request-dialog-header {
    height: 50px;
    font-family: "Segoe UI Light" !important;
    box-sizing: content-box !important;

    .request-icon {
      width: 50px;
      height: 50px;
      background: #FFA000;
      border-radius: 50%;
      box-shadow: inset 0px 1px 1px #FF6F00;
      .fa {
        font-size: 25px;
        color: #FFD740;
      }
    }

    .request-title {
      height: 50px;
      font-family: "Segoe UI Light";
      .request-number {
        .bold {
          font-weight: bolder;
        }
      }
    }

    .request-type {
      font-family: "Segoe UI Light";
      font-size: 17px;
      line-height: 25px;
    }
  }

  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px;


    .request-attribute {
      font-family: "Segoe UI";
      font-size: 17px;
      background: #FAFAFA;
      box-sizing: border-box;
      .mat-icon {
        width: 36px;
        height: 36px;
        font-size: 36px;
        color: #BDBDBD;
        &.expired {
          width: 21px;
          height: 21px;
          font-size: 21px;
          color: #D50000;
        }
      }
      .label {
        font-size: 14px;
        color: #757575;
      }
      
      &.warning {
        background: #FFEBEE;
        .mat-icon {
          color: #EF9A9A !important;
        }
      }
    }




    .mat-tab-labels {
      justify-content: space-between;
    }

    .mat-tab-body-wrapper {
      height: 100%;
    }

    .request-information {
      font-family: "Segoe UI Light";
      font-size: 20px;
      //border-bottom: 1px dashed #ECEFF1;
      background: #ECEFF1;
      border-radius: 4px;

      .mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        //padding: 10px;
        color: #ECEFF1 !important;
        background: #B0BEC5;
        border-radius: 50%;
      }

      .fa {
        color: #ECEFF1 !important;
      }

      .summary {
        height: 40px;
        line-height: 22px;
      }

      .expiration-date {
        font-size: 16px;
      }
    }

    .mat-list-item-ripple {
      //margin-bottom: 10px;
      //border-top: 1px dashed #ECEFF1;
      border-bottom: 1px dashed #ECEFF1;
    }

    .mat-list-item-disabled {
      background: transparent !important;
    }
  }

  .mat-dialog-actions {
    //border-top: 1px solid #ECEFF1;
    //margin-left: -20px;
    //margin-right: -20px;
    margin-left: -24px;
    margin-right: -24px;
    padding: 20px;
    background: #FAFAFA;
  }

  .mat-list-item {
    height: 60px !important;
  }

  .label {
    font-family: "Segoe UI Light";
    font-size: 15px;
  }

  .value {
    font-family: "Segoe UI Light";
    font-size: 18px;
  }

  .user {
    margin-top: -8px;
    font-family: "Segoe UI Light";
    font-size: 16px;
  }

  /*
  .request-title {
    font-family: "Segoe UI Semibold";
    font-size: 20px;
  }
  */

  .request-date {
    font-family: "Segoe UI Light";
    font-size: 20px;
  }

  /*
  .request-type {
    .fa {
      font-size: 25px;
    }
  }
  */

  .request-user {
    font-family: "Segoe UI Light";
    font-size: 17px;
    line-height: 18px;
  }

  .request-employee {
    margin-top: -20px;
  }


  .room {
    font-family: "Segoe UI Light";
    font-size: 35px;
  }

  .no-comments {
    font-family: "Segoe UI Light";
  }

  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-family: "Segoe UI Light";
    font-size: 11px;
    line-height: 20pc;
    color: white;
    background: red;
    border-radius: 50%;
  }

  .request-comments {
    .comment {
      //display: inline-flex !important;
      align-self: flex-start;
      //width: auto;
      margin-top: 15px;


      .comment-content {
        padding: 15px;
        font-family: "Segoe UI";
        font-size: 15px;
        line-height: 15px;
        border-radius: 4px;
        background: #FFECB3;
      }

      .comment-user {
        font-family: "Segoe UI";
        font-size: 11px;
        text-align: left;
        color: #BDBDBD;
      }
      &.own {
        align-self: flex-end;
        .comment-content {
          background: #F3E5F5;
        }
        .comment-user {
          text-align: right;
        }
      }
    }
  }

  .new-comment-form {
    margin-top: -20px;
  }
}
