.aho-requests-table {
  font-family: "Segoe UI";
  .mat-row {
    align-items: stretch;
    cursor: pointer;
    &:hover {
      background: #EDE7F6;
    }
  }

  .request-type-column {
    max-width: 60px;
    .fa {
      font-size: 20px;
      color: #7986CB;
    }
  }

  .request-id-column {
    max-width: 40px;
    font-family: "Segoe UI";
  }

  .request-user-column {
    max-width: 250px;
    font-family: "Segoe UI";
  }

  .request-date-created-column {
    max-width: 120px;
    font-family: "Segoe UI";
  }

  .request-room-column {
    font-family: "Segoe UI";
    max-width: 60px;
  }

  .request-tasks-column {
    font-family: "Segoe UI";
    .task-count {
      font-family: "Segoe UI";
    }
  }

  .request-expires-column {
    width: 100px;
    .mat-icon {
      width: 21px;
      height: 21px;
      font-size: 21px;
      color: #D50000;
    }
  }

  .request-employee-column {
    font-family: "Segoe UI";

    .no-employee {
      font-family: "Segoe UI Light";
    }
  }

  .request-status-column {
    max-width: 40px;
    .far {
      font-size: 23px;
    }
  }
}


.admin-type-card {
  padding: 20px 15px !important;

  .mat-icon {
      font-size: 30px !important;
      color: #7986CB !important;
  }
}



.app-search {
  overflow: visible;
  height: 36px;

  .search-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    background: #FFC107;
    border-radius: 5px;

    .prefix {
      display: flex;
      align-items: center;
      height: 100%;
      padding-right: 10px;
      .fa {
        font-size: 14px;
        color: #455A64;
      }
    }

    .filters {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;
      .filter {
        display: inline-flex;
        height: 25px;
        justify-content: center;
        align-items: center;
        margin-right: 6px;
        padding: 5px 10px;
        font-family: "Segoe UI Light";
        font-size: 13px;
        color: white;
        background: #7E57C2;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    .search-input {
      flex: 1;
      input {
        width: 100%;
        height: 100%;
        font-family: "Segoe UI Light";
        font-size: 15px;
        background: #FFC107;
        border: none;
        outline: none;
        &::-ms-clear {
          display: none;
        }
      }
    }

    .controls {
      display: flex;
      align-items: center;
      height: 100%;
      .fa {
        font-size: 14px;
        color: #455A64;
        cursor: pointer;
        &:hover {
          color: #263238;
        }
        &.disabled {
          cursor: default;
          color: #607D8B;
        }
        .notification {
          display: inline-block;
          position: relative;
          top: -12px;
          left: -1px;
          width: 7px;
          height: 7px;
          background: red;
          border-radius: 50%;
        }
      }
    }
  }

  .search-filters {
    font-size: 15px;
    .mat-card {
      background: #FFF9C4;
    }
  }
}


.request-list-navigation {
  position: relative;
  background: #FAFAFA;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.request-list-controls {
  .fa {
    font-size: 20px;
  }
}


.mat-progress-bar {
  position: absolute !important;
  left: 0px;
  right: 0px;
}
