.mat-toolbar {
  z-index: 500 !important;

  .container-fluid {
    padding: 0px;
  }

  .app-title {
    font-size: 17px;
    a {
      text-decoration: none;
      color: black;
    }

    .bold {
      font-family: "Segoe UI";
    }

    .regular {
      font-family: "Segoe UI Light";
    }
  }

  .form-control {
    font-size: 16px;
    background: #FFC107;
    border: none !important;
    outline: none !important;
    &:active {
      border: none;
      background: #FFE57F;
    }
  }

  .fa {
    font-size: 18px;
  }



  .user-menu {
    .mat-icon .fa {
      font-size: 22px !important;
    }
  }


  .el-badge__content {
    &.is-fixed {
      right: 15px !important;
      top: 3px !important;
    }
    border: none !important;
  }

  .el-button {
    background: transparent;
    border: 1px solid #673AB7;
    //border: none;
    color: #673AB7;
    &:hover {
      background: #F5CD48;
      border: 1px solid #673AB7;
      //border: none;
      color: #673AB7;
    }
  }
}
