.mat-toolbar {
  z-index: 500 !important;

  .container-fluid {
    padding: 0px;
  }

  .form-control {
    font-size: 16px;
    background: #FFC107;
    border: none !important;
    outline: none !important;
    &:active {
      border: none;
    }
  }

  .fa {
    font-size: 18px;
  }

  .selected-request {
    //font-size: 15px;
    font-weight: lighter;
  }
}
