<div class="d-flex flex-column h-100">
  <mat-toolbar color="primary">Панель управления</mat-toolbar>
  <div class="container-fluid d-flex" style="flex: 1 0;">
    <div class="row d-flex" style="flex: 1;">

      <!-- Start: Элементы меню приложения -->
      <div class="col-auto app-sidebar d-flex flex-column p-0">
        <a class="menu-item d-flex flex-row pl-3 pr-3"
           *ngFor="let item of (dashboard.menu.getItems() | async)"
           routerLink="{{item.link}}"
           routerLinkActive="selected">
          <mat-icon class="mr-3">{{item.icon}}</mat-icon>
          <span class="title">{{item.title}}</span>
        </a>
      </div>
      <!-- End: Элементы меню приложения -->

      <div class="col-auto submenu d-flex flex-column p-0" *ngIf="(dashboard.menu.getActiveItem() | async)?.items.length > 0 || (dashboard.menu.getActiveItem() | async)?.parent">
        <a class="menu-item d-flex flex-row pl-3 pr-3"
           *ngFor="let item of (dashboard.menu.getActiveItem() | async)?.items"
           routerLink="{{item.link}}"
           routerLinkActive="selected">
          <mat-icon class="mr-3">{{item.icon}}</mat-icon>
          <span class="title">{{item.title}}</span>
        </a>
      </div>

      <!-- Start: Содержимое активного раздела приложения -->
      <div class="col app-content">
        <router-outlet></router-outlet>
      </div>
      <!-- End: Содержимое активного раздела приложения -->
    </div>
  </div>

</div>
