@app-sidebar-width: 220px;
@app-sidebar-background-color: #546e7a;
@app-sidebar-menu-item-height: 48px;
@app-sidebar-menu-item-background-color-hover: #455a64;
@app-sidebar-menu-item-background-color-selected: #263238;
@app-sidebar-menu-item-selected-border-color: #00b0ff;
@app-sidebar-submenu-width: 220px;
// @app-sidebar-submenu-background-color: #263238;
@app-sidebar-submenu-background-color: #eceff1;
@app-content-background-color: #f5f5f5;

.mat-toolbar {
  background: #37474f;
}

.app-sidebar {
  width: @app-sidebar-width;
  font-family: "Segoe UI Light";
  color: white;

  background: @app-sidebar-background-color;

  .menu-item {
    color: white;
    &.selected {
      border-left: 4px solid @app-sidebar-menu-item-selected-border-color;
      // background: @app-sidebar-menu-item-background-color-selected;
      .mat-icon {
        color: @app-sidebar-menu-item-selected-border-color
      }
    }

    .mat-icon {
      color: white;
    }

    .corner {
      width: 0px;
      height: 0px;
      justify-self: flex-end;
      border: 6px solid transparent;
      border-right-color: #eceff1;
    }
  }
}

.submenu {
  width: @app-sidebar-submenu-width;
  font-family: "Segoe UI Light";
  color: black;
  line-height: 18px;
  background: @app-sidebar-submenu-background-color;
  .menu-item {
    color: #607d8b;
    &:hover {
      // color: black;
      background: #cfd8dc !important;
    }
    &.selected {
      color: black;
      background: #eceff1;
      // background: @app-sidebar-menu-item-background-color-selected;
      .mat-icon {
        color: #ff4081;
      }
    }
    .mat-icon {
      color: @app-sidebar-menu-item-selected-border-color;
    }
  }

  .mat-stroked-button {
    color: @app-sidebar-menu-item-selected-border-color;
    border-color: @app-sidebar-menu-item-selected-border-color;
  }
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: @app-sidebar-menu-item-height;
  text-decoration: none;
  color: white;
  border-left: 4px solid transparent;
  &:hover {
    background: @app-sidebar-menu-item-background-color-hover;
  }
}

.app-content {
  padding-left: 0px;
  padding-right: 0px;
  background: @app-content-background-color;
}
