@app-sidebar-width: 220px;
@app-sidebar-background-color: #37474f;
@app-sidebar-menu-item-height: 48px;
@app-sidebar-menu-item-background-color-hover: #455a64;
@app-sidebar-menu-item-background-color-selected: #263238;
@app-sidebar-menu-item-selected-border-color: #4fc3f7;

.mat-toolbar {
  background: #5C6BC0;
}

.app-sidebar {
  width: @app-sidebar-width;
  font-family: "Segoe UI Light";
  color: white;
  background: @app-sidebar-background-color;

  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: @app-sidebar-menu-item-height;
    text-decoration: none;
    color: white;
    border-left: 3px solid transparent;
    &:hover {
      background: @app-sidebar-menu-item-background-color-hover;
    }
    &.selected {
      border-left: 3px solid @app-sidebar-menu-item-selected-border-color;
      background: @app-sidebar-menu-item-background-color-selected;
    }
  }
}

.app-content {}
