@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~element-angular/theme/index.css";

.aho-requests-tabs {
  .mat-tab-labels {
    justify-content: space-around !important;
    .mat-tab-label {
      flex: 1 !important;
    }
  }


  .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

  .fa {
    width: 20px !important;
    height: 20px !important;
    font-size: 20px !important;
  }
}
