@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './components/dialogs';
@import './components/utilities';
@import './components/component-title';
@import './components/section';
@import './components/section-title';
@import './components/item-list';

@app-background-color: #f5f5f5;

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: @app-background-color;
}

.mat-toolbar {
  font-family: "Segoe UI Light";
}

input, button {
  outline: none !important;
}
