<div class="container-fluid h-100 control-panel-dialog">
  <div matDialogTitle>
    <h4>Добавление роли пользователя</h4>
  </div>

  <mat-dialog-content>
    <form [formGroup]="addRoleForm">
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Код</mat-label>
            <input matInput placeholder="Введите код" formControlName="code" [(ngModel)]="newRole.code">
            <mat-error *ngIf="addRoleForm.controls['code'].invalid">Вы не указали код</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Наименование</mat-label>
            <input matInput placeholder="Введите наименование" formControlName="title" [(ngModel)]="newRole.title">
            <mat-error *ngIf="addRoleForm.controls['title'].invalid">Вы не указали наименование</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="newRole.permissions.length != applications.selectedApplication().permissions.length">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Права</mat-label>
            <mat-select placeholder="Favorite food" (selectionChange)="onSelectPermission($event)">
              <mat-option *ngFor="let permission of (applications.selectedApplication().permissions | exceptSelectedPermissions:newRole.permissions) as permissions" [value]="permission">
                {{ permission.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>


    <mat-table [dataSource]="rolePermissionsDataSource" class="role-permissions-table mat-elevation-z2" *ngIf="newRole.permissions.length > 0">
      <!-- Start: Колонка наименования права пользователя -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef class="title-column">Права пользователей роли</mat-header-cell>
        <mat-cell *matCellDef="let permission" class="title-column"> {{permission.title}}</mat-cell>
      </ng-container>
      <!-- End: Колонка наменования права пользователя -->

      <!-- Start: Колонка элементов управления -->
      <ng-container matColumnDef="controls">
        <mat-header-cell *matHeaderCellDef class="controls-column"></mat-header-cell>
        <mat-cell *matCellDef="let permission" class="controls-column">
          <button mat-icon-button color="primary" (click)="deletePermission(permission)" matTooltip="Удалить" matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <!-- End: Колонка элементов управления -->

      <mat-header-row *matHeaderRowDef="rolePermissionDisplayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: rolePermissionDisplayColumns;"></mat-row>
    </mat-table>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="d-flex flex-row justify-content-end align-items-center w-100 pt-2 pb-2 pl-4 pr-4">
      <button mat-flat-button
              type="button"
              color="warn"
              class="w-25 mr-2"
              [disabled]="(applications.isAddingPermission() | async)"
              (click)="closeDialog()">
        Отмена
      </button>
      <button mat-flat-button
              type="submit"
              class="w-25"
              [disabled]="(applications.isAddingPermission() | async) || addRoleForm.invalid"
              (click)="addRole()">
        Добавить
      </button>
    </div>
  </mat-dialog-actions>

</div>
