<div class="container-fluid">
  <div class="row pt-3">
    <div class="col-12">
      <!--<mat-card>-->
        <mat-tab-group class="aho-requests-tabs" [color]="'primary'">
          <mat-tab *ngFor="let requestType of ahoRequestsService.getRequestTypes()" label="{{ requestType.title }}" class="request-type-tab">
            <ng-template mat-tab-label>
              <div class="d-flex align-content-center">
                <mat-icon fontSet="fa" fontIcon="{{ requestType.icon }}" class="mr-2" *ngIf="requestType.icon"></mat-icon>
                <span class="text-uppercase">{{ requestType.title }}</span>
                <span class="badge badge-pill badge-danger ml-3">5</span>
              </div>
            </ng-template>
            <div class="pt-4">
              <mat-table #table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef class=""> # </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="userId">
                  <mat-header-cell *matHeaderCellDef> Пользователь </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="comment">
                  <mat-header-cell *matHeaderCellDef> Содержание </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="dateCreated">
                  <mat-header-cell *matHeaderCellDef> Дата подачи заявки </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.dateCreated | date:'dd.MM.yyyy, HH:mm'}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-tab>
        </mat-tab-group>
      <!--</mat-card>-->
    </div>
  </div>
</div>
