.operative-situation-reports {
  height: 205px;
  font-family: "Segoe UI Light";
  border: 1px solid #cfd8dc;

  th {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background: white;
    border: 1px solid #cfd8dc;

    &.time {
      width: 80px;
      font-size: 18px;
      text-align: center;
      .mat-icon {
        width: 16px !important;
        height: 16px !important;
        font-size: 16px;
      }
    }
  }

  tr {
    &.content {
      height: 80px;
      &:hover {
        td {
          background: #e1f5fe !important;
        }
      }
    }
  }

  td {
    text-align: center;
    background: white;
    border: 1px solid #cfd8dc;
    &.total {
      background: #e8eaf6;
    }
  }
}


.mat-toolbar-row {
  .mat-stroked-button {
    color: white;
    border: 1px solid white;
  }
  .mat-button {
    // font-family: "Segoe UI Semibold";
    // font-size: 17px;
    font-weight: bold;
  }
  .mat-select-content {
    color: white;
  }
  .mat-icon {
    color: whitesmoke;
  }
}
