<mat-toolbar color="accent" class="border-bottom fixed-top d-flex flex-column">
  <mat-toolbar-row>
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-auto d-none d-sm-none d-md-flex align-content-center align-items-center align-content-center">
          <div class="app-title d-flex align-items-center">
            <a routerLink="/">
              <span class="bold">Заявки</span>
              <span class="regular">&nbsp;АХО</span>
            </a>
          </div>
        </div>

        <div class="col app-search mr-1 ml-1 mr-md-0 ml-md-0">
          <div class="search-container">
            <div class="prefix">
              <i class="fa fa-search"></i>
            </div>
            <div class="filters d-none d-xl-flex">
              <span class="filter"
                    *ngIf="aho.filters_.getFilterByTitle('startDate').getValue()"
                    (click)="clearFilter(aho.filters_.filters.startDate)"
                    matTooltip="Очистить фильтр"
                    matTooltipPosition="below">
                c {{ aho.filters_.getFilterByTitle('startDate').getValue() | date: 'dd.MM.yyyy' }}
              </span>
              <span class="filter"
                    *ngIf="aho.filters_.getFilterByTitle('endDate').getValue()"
                    (click)="clearFilter(aho.filters_.filters.endDate)"
                    matTooltip="Очистить фильтр"
                    matTooltipPosition="below">
                по {{ aho.filters_.getFilterByTitle('endDate').getValue() | date: 'dd.MM.yyyy' }}
              </span>
              <span class="filter"
                    *ngIf="aho.filters_.getFilterByTitle('requestType').getValue()"
                    (click)="clearFilter(aho.filters_.filters.requestType)"
                    matTooltip="Очистить фильтр"
                    matTooltipPosition="below">
                {{ aho.filters_.getFilterByTitle('requestType').getValue().title }}
              </span>
              <span class="filter"
                    *ngIf="aho.filters_.getFilterByTitle('requestStatus').getValue()"
                    (click)="clearFilter(aho.filters_.filters.requestStatus)"
                    matTooltip="Очистить фильтр"
                    matTooltipPosition="below">
                {{ aho.filters_.getFilterByTitle('requestStatus').getValue().title }}
              </span>
              <span class="filter"
                    *ngIf="aho.filters_.getFilterByTitle('requestEmployee').getValue()"
                    (click)="clearFilter(aho.filters_.filters.requestEmployee)"
                    matTooltip="Очистить фильтр"
                    matTooltipPosition="below">
                {{ aho.filters_.getFilterByTitle('requestEmployee').getValue().fio }}
              </span>
            </div>
            <div class="search-input">
              <input type="text" placeholder="Поиск заявок" [(ngModel)]="aho.search" (keyup)="searchChange(aho.search)">
            </div>
            <div class="controls" *ngIf="auth.getCurrentUser()">
              <i class="fa fa-filter" matTooltip="Фильтры" matTooltipPosition="below" (click)="openFiltersDialog()" *ngIf="!aho.search || aho.search === ''">
                <span class="notification" *ngIf="aho.filters_.getSelectedFilters().length > 0"></span>
              </i>
              <i class="fa fa-times" matTooltip="Очистить" matTooltipPosition="below" (click)="clearSearch()" *ngIf="aho.search && aho.search !== ''"></i>
            </div>
          </div>
        </div>

        <div class="col-auto d-none d-md-flex justify-content-end align-items-center">
          <button mat-stroked-button
                  [color]="'primary'"
                  *ngIf="auth.getCurrentUser()"
                  [matMenuTriggerFor]="userMenu">
            {{ auth.getCurrentUser().firstName + ' ' + auth.getCurrentUser().lastName }}
          </button>
          <mat-menu #userMenu="matMenu" [yPosition]="'below'" class="user-menu">
            <button mat-menu-item
                    routerLink="/admin"
                    *ngIf="auth.getCurrentUser() && auth.getCurrentUser().permissions.getRoleById(1)">
              <mat-icon color="primary">settings</mat-icon>
              Панель управления
            </button>
            <button mat-menu-item
                    (click)="logOut()">
              <mat-icon color="primary">exit_to_app</mat-icon>
              Выход из системы
            </button>
          </mat-menu>

          <button mat-stroked-button
                  [color]="'primary'"
                  *ngIf="!auth.getCurrentUser()"
                  (click)="openAuthDialog()">
            Войти
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<div class="pt-2 pt-sm-3 pt-md-4 h-100 w-100">
  <router-outlet></router-outlet>
</div>
