<div class="container-fluid content-wrapper pb-3">


  <div class="row pb-2 pb-sm-2 pb-md-2">
    <div class="col-12 d-flex justify-content-between">
      <div class="request-list-navigation d-flex flex-row align-items-center"
           *ngIf="authenticationService.getCurrentUser() && (aho.getEmployeeRequests().length > 0 || authenticationService.getCurrentUser().permissions.getRoleById(1))">
        <!-- Start: Переход ко всем заявкам -->
        <button mat-stroked-button
                color="primary"
                *ngIf="aho.isInEmployeeRequestsMode()"
                (click)="aho.showAllRequests()">
          &larr; &nbsp; Все заявки
        </button>
        <!-- End: Переход ко всем заявкам -->

        <!-- Start: Переход к заявкам исполнителя -->
        <button mat-stroked-button
                color="primary"
                *ngIf="authenticationService.getCurrentUser() && !aho.isInEmployeeRequestsMode() && aho.getUnfinishedEmployeeRequests().length > 0"
                (click)="aho.showEmployeeRequests()">
          Вы назначены исполнителем
          <span class="button-badge ml-1">{{ aho.getUnfinishedEmployeeRequests().length }}</span>
        </button>
        <!-- End: Переход к заявкам исполнителя -->

        <mat-slide-toggle
          color="primary"
          [checked]="aho.showCompletedRequests()" (change)="onShowCompletedRequestsToggle($event)">
          Показать выполненные
        </mat-slide-toggle>
      </div>

      <div class="request-list-controls d-none d-md-flex">
        <!-- Start: Экспорт заявков а Excel -->
        <button mat-icon-button
                class="align-self-end"
                color="primary"
                (click)="exportRequests()"
                matTooltip="Экспорт в Excel" matTooltipPosition="left">
          <mat-icon fontSet="fa" fontIcon="fa-file-excel-o" color="primary"></mat-icon>
        </button>
        <!-- End: Экспорт заявок в Excel -->
      </div>
    </div>
  </div>


  <div class="row no-gutters">
    <div class="col-12">
      <mat-table #table [dataSource]="aho.getDataSource()" class="aho-requests-table">

        <!-- Start: Request type column -->
        <ng-container matColumnDef="requestType">
          <mat-header-cell *matHeaderCellDef class="request-type-column d-none d-sm-flex"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-type-column d-none d-sm-flex">
            <mat-icon
              [color]="'accent'"
              fontSet="fa"
              fontIcon="{{ element.type.icon }}"
              matTooltip="{{ element.type.title }}"
              [matTooltipPosition]="'right'">
            </mat-icon>
          </mat-cell>
        </ng-container>
        <!-- End: Request type column -->

        <!-- Start: Request id column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="request-id-column d-none d-sm-flex"> # </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-id-column d-none d-sm-flex"> {{ element.id }} </mat-cell>
        </ng-container>
        <!-- End: Request id column -->

        <!-- Start: Request user column -->
        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef class="request-user-column d-none d-sm-none d-md-flex ml-md-5"> Заявитель </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-user-column d-none d-sm-none d-md-flex ml-md-5"> {{ element.user.firstName + ' ' + element.user.lastName }} </mat-cell>
        </ng-container>
        <!-- End: Request user column -->

        <!-- Start: Request tasks column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef class="request-tasks-column"> Содержание </mat-header-cell>
          <mat-cell *matCellDef="let request" class="request-tasks-column pt-2 pb-2">
            <div *ngFor="let task of request.tasks">
              {{ task.content.title }} <span class="task-count text-muted" *ngIf="request.type.isCountable">&nbsp; &mdash; &nbsp; {{task.content.boxing ? task.count  + ' ' + task.content.boxing : task.count  + ' штук' }}</span>
            </div>
          </mat-cell>
        </ng-container>
        <!-- End: Request tasks column -->

        <!-- Start: Request room column -->
        <ng-container matColumnDef="room">
          <mat-header-cell *matHeaderCellDef class="request-room-column"> Кабинет </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-room-column">{{ element.room !== '' ? element.room : '' }}</mat-cell>
        </ng-container>
        <!-- End: Request room column -->

        <!-- Start: Request date column -->
        <ng-container matColumnDef="dateCreated">
          <mat-header-cell *matHeaderCellDef class="request-date-created-column d-none d-sm-none d-md-flex"> Дата подачи заявки </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-date-created-column d-none d-sm-none d-md-flex"> {{ element.dateCreated | date:'dd.MM.yyyy, HH:mm' }} </mat-cell>
        </ng-container>
        <!-- End: Request end column -->

        <!-- Start: Request employee column -->
        <ng-container matColumnDef="employee">
          <mat-header-cell *matHeaderCellDef class="request-employee-column d-none d-sm-none d-md-flex"> Исполнитель </mat-header-cell>
          <mat-cell *matCellDef="let task" class="request-employee-column d-none d-sm-none d-md-flex">
            <span class="no-employee text-muted" *ngIf="!task.employee">Не назначен</span>
            <span *ngIf="task.employee">{{ task.employee.firstName + ' ' + task.employee.lastName }}</span>
          </mat-cell>
        </ng-container>
        <!-- End: Request employee column -->

        <!-- Start: Request status column -->
        <ng-container matColumnDef="requestStatus">
          <mat-header-cell *matHeaderCellDef class="request-status-column d-none d-sm-none d-md-flex"> Статус </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-status-column d-none d-sm-none d-md-flex justify-content-center">
            <mat-icon fontSet="fa"
                      fontIcon="{{ element.status.icon }}"
                      [style.color]="element.status.iconColor ? element.status.iconColor : 'black'"
                      *ngIf="element.status.icon"
                      matTooltip="{{element.status.title}}"
                      [matTooltipPosition]="'left'">
            </mat-icon>
          </mat-cell>
        </ng-container>
        <!-- End: Request status column -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" (click)="selectRequest(row)"></mat-row>
      </mat-table>


    </div>
  </div>
</div>


<button mat-fab
        [color]="'primary'"
        id="add-request-button"
        (click)="openNewRequestDialog()"
        *ngIf="authenticationService.getCurrentUser()"
        matTooltip="Подать заявку"
        [matTooltipPosition]="'left'">
  <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
</button>
