<div class="container-fluid no-padding content-wrapper pb-3"
     *ngIf="((aho.getAllRequestsCount() | async) !== 0 || (aho.getOwnRequestsCount() | async) !== 0 || (aho.getEmployeeRequestsCount_() | async) !== 0 || (aho.getExpiredRequestsCount_() | async)) !== 0 && !aho.search">
  <div class="row no-gutters">

    <div class="request-list-navigation col-12 d-flex flex-column justify-content-between border-bottom">
      <!--
      <mat-progress-bar mode="indeterminate" class="w-100" *ngIf="aho.isFetchingData()"></mat-progress-bar>
      -->

      <div class="d-flex flex-row justify-content-between">
        <div class="navigation-tabs">
          <!-- Start: Вкладка со всеми заявками -->
          <div class="navigation-tab active"
               *ngIf="auth.getCurrentUser().permissions.getRoleById(1)"
               (click)="aho.showAllRequests()">
            <span class="tab-title">Все заявки</span>
            <span class="tab-notification"
                  *ngIf="(aho.getAllRequestsNewCount() | async) > 0"
                  matTooltip="{{'Новых заявок: ' + (aho.getAllRequestsNewCount() | async)}}"
                  matTooltipPosition="above">
              {{(aho.getAllRequestsNewCount() | async)}}
            </span>
          </div>
          <!-- End: Вкладка со всеми заявками -->

          <!-- Start: Вкладка с заявками ппользователя -->
          <div class="navigation-tab"
               *ngIf="(aho.getOwnRequestsCount() | async) > 0"
               (click)="aho.showOwnRequests()">
            <span class="tab-title">Ваши заявки</span>
            <span class="tab-notification"
                  *ngIf="(aho.getOwnRequestsUncompletedCount() | async) > 0"
                  matTooltip="{{'Заявок на рассмотрении: ' + (aho.getOwnRequestsUncompletedCount() | async)}}"
                  matTooltipPosition="above">
              {{(aho.getOwnRequestsUncompletedCount() | async)}}
            </span>
          </div>
          <!-- End: Вкладка с заявками ппользователя -->

          <!-- Start: Вкладка с заявками, в которых пользователь назначен исполнителем -->
          <div class="navigation-tab"
               *ngIf="(aho.getEmployeeRequestsCount_() | async) > 0"
               (click)="showEmployeeRequests()">
            <span class="tab-title">Вы исполнитель</span>
            <span class="tab-notification"
                  *ngIf="(aho.getEmployeeRequestsUncompletedCount() | async) > 0"
                  matTooltip="{{'Заявок в работе: ' + (aho.getEmployeeRequestsUncompletedCount() | async)}}"
                  matTooltipPosition="above">
              {{(aho.getEmployeeRequestsUncompletedCount() | async)}}
            </span>
          </div>
          <!-- End: Вкладка с заявками, в которых пользователь назначен исполнителем -->

          <!-- Start: Вкладка с просроченными заявками -->
          <div class="navigation-tab"
               *ngIf="(aho.getExpiredRequestsCount_() | async) > 0"
               (click)="showExpiredRequests()">
            <span class="tab-title">Просроченные</span>
            <span class="tab-notification"
                  matTooltip="{{'Просроченных заявок: ' + (aho.getExpiredRequestsCount_() | async)}}"
                  matTooltipPosition="above">{{(aho.getExpiredRequestsCount_() | async)}}</span>
          </div>
          <!-- End: Вкладка с просроченными заявками -->
        </div>
        <div class="navigation-controls">
          <!-- Start: Переключатель показа выполненных заявок -->
          <mat-slide-toggle
            color="primary"
            class="mr-0 mr-md-3"
            labelPosition="after"
            [checked]="aho.isInShowCompletedRequestsMode()"
            [disabled]="(aho.isFetchingData() | async)"
            (change)="onShowCompletedRequestsToggle($event)">
            Показывать выполненные
          </mat-slide-toggle>
          <!-- End: Переключатель показа выполненных заявок -->

          <!-- Start: Контекстное меню управления списком заявок -->
          <button mat-icon-button [matMenuTriggerFor]="requestsListMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #requestsListMenu="matMenu" [yPosition]="'below'">
            <button mat-menu-item (click)="exportRequests()">
              <mat-icon color="primary">import_export</mat-icon>
              Экспорт в Excel
            </button>
          </mat-menu>
          <!-- End: Контекстное меню управления списком заявок -->
        </div>
      </div>

      <!--
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <button mat-stroked-button
                  class="mr-0 mr-md-3"
                  *ngIf="aho.isInEmployeeRequestsMode() || aho.isInShowExpiredRequestsMode()"
                  color="primary"
                  [disabled]="aho.isFetchingData()"
                  (click)="aho.showAllRequests()">
            &larr; &nbsp; Все заявки
          </button>

          <button mat-stroked-button
                  color="primary"
                  class="mr-0 mr-md-3"
                  *ngIf="aho.getEmployeeRequestsCount() > 0 && !aho.isInEmployeeRequestsMode() && aho.isUserIsEmployee()"
                  [disabled]="aho.isFetchingData()"
                  (click)="showEmployeeRequests()">
            Вы назначены исполнителем
            <span class="button-badge ml-1">{{ aho.getEmployeeRequestsCount() }}</span>
          </button>

          <button mat-stroked-button
                  color="primary"
                  class="mr-0 mr-md-3"
                  *ngIf="auth.getCurrentUser() && aho.getExpiredRequestsCount() > 0 && !aho.isInEmployeeRequestsMode()"
                  [disabled]="aho.isFetchingData()"
                  (click)="showExpiredRequests()">
            Просроченные заявки
            <span class="button-badge ml-1">{{ aho.getExpiredRequestsCount() }}</span>
          </button>

          <mat-slide-toggle
            color="primary"
            class="mr-0 mr-md-3"
            labelPosition="after"
            [checked]="aho.isInShowCompletedRequestsMode()"
            [disabled]="aho.isFetchingData()"
            (change)="onShowCompletedRequestsToggle($event)">
            Показывать выполненные
          </mat-slide-toggle>
        </div>

        <div class="request-list-controls d-none d-md-flex flex-row align-items-end">
          <button mat-icon-button [matMenuTriggerFor]="requestsListMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #requestsListMenu="matMenu" [yPosition]="'below'">
            <button mat-menu-item (click)="exportRequests()">
              <mat-icon color="primary">import_export</mat-icon>
              Экспорт в Excel
            </button>
          </mat-menu>
        </div>
      </div>
      -->

    </div>
  </div>


  <div class="row no-gutters">
    <div class="col-12">
      <mat-table #table [dataSource]="aho.getDataSource()" class="aho-requests-table">

        <!-- Start: Request type column -->
        <ng-container matColumnDef="requestType">
          <mat-header-cell *matHeaderCellDef class="request-type-column d-none d-sm-flex"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-type-column d-none d-sm-flex pt-2 pb-2">
            <mat-icon
              color="accent"
              fontSet="fa"
              fontIcon="{{ element.type.icon }}"
              matTooltip="{{ element.type.title }}"
              [matTooltipPosition]="'right'">
            </mat-icon>
          </mat-cell>
        </ng-container>
        <!-- End: Request type column -->

        <!-- Start: Request id column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="request-id-column d-none d-sm-flex"> # </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-id-column d-none d-sm-flex pt-2 pb-2"> {{ element.id }} </mat-cell>
        </ng-container>
        <!-- End: Request id column -->

        <!-- Start: Request user column -->
        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef class="request-user-column d-none d-sm-none  d-md-flex ml-md-5"> Инициатор / Заявитель </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-user-column d-flex flex-column  d-none d-sm-none d-md-flex ml-md-5 pt-2 pb-2">
            <div *ngIf="element.initiator">{{ element.initiator }}</div>
            <div>{{ element.user.firstName + ' ' + element.user.lastName }}</div>
          </mat-cell>
        </ng-container>
        <!-- End: Request user column -->

        <!-- Start: Request tasks column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef class="request-tasks-column"> Содержание </mat-header-cell>
          <mat-cell *matCellDef="let request" class="request-tasks-column pt-2 pb-2">
            <div *ngFor="let task of request.tasks">
              {{ task.content.title }} <span class="task-count text-muted" *ngIf="request.type.isCountable">&nbsp; &mdash; &nbsp; {{task.content.boxing ? task.count  + ' ' + task.content.boxing : task.count  + ' штук' }}</span>
            </div>
            <div class="text-muted" *ngIf="request.numberOfLoaders">Требуется грузчиков &mdash; {{ request.numberOfLoaders }}</div>
          </mat-cell>
        </ng-container>
        <!-- End: Request tasks column -->

        <!-- Start: Request date expires column -->
        <ng-container matColumnDef="dateExpires">
          <mat-header-cell *matHeaderCellDef class="request-expires-column"> Срок исполнения </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-expires-column pt-2 pb-2">
            <div class="d-flex flex-row align-items-center">
              <span class="mr-2">{{ element.dateExpires ? (element.dateExpires | date:'dd.MM.yyyy') : '' }}</span>
              <mat-icon *ngIf="element.isExpired" class="expired" matTooltip="Заявка просрочена" matTooltipPosition="below">error_outline</mat-icon>
            </div>
          </mat-cell>
        </ng-container>
        <!-- End: Request date expires column -->

        <!-- Start: Request room column -->
        <ng-container matColumnDef="room">
          <mat-header-cell *matHeaderCellDef class="request-room-column"> Кабинет </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-room-column pt-2 pb-2">{{ element.room !== '' ? element.room : '' }}</mat-cell>
        </ng-container>
        <!-- End: Request room column -->

        <!-- Start: Request date column -->
        <ng-container matColumnDef="dateCreated">
          <mat-header-cell *matHeaderCellDef class="request-date-created-column d-none d-sm-none d-md-flex"> Дата подачи заявки </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-date-created-column d-none d-sm-none d-md-flex pt-2 pb-2"> {{ element.dateCreated | date : 'dd.MM.yyyy, HH:mm' }} </mat-cell>
        </ng-container>
        <!-- End: Request end column -->

        <!-- Start: Request employee column -->
        <ng-container matColumnDef="employee">
          <mat-header-cell *matHeaderCellDef class="request-employee-column d-none d-sm-none d-md-flex"> Исполнитель </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-employee-column d-none d-sm-none flex-column d-md-flex pt-2 pb-2">
            <span class="no-employee text-muted" *ngIf="element.employees.length === 0">Не назначен</span>
            <div *ngFor="let employee of element.employees">{{ employee.firstName + ' ' + employee.lastName }}</div>
          </mat-cell>
        </ng-container>
        <!-- End: Request employee column -->

        <!-- Start: Request status column -->
        <ng-container matColumnDef="requestStatus">
          <mat-header-cell *matHeaderCellDef class="request-status-column d-none d-sm-none d-md-flex"> Статус </mat-header-cell>
          <mat-cell *matCellDef="let element" class="request-status-column d-none d-sm-none d-md-flex justify-content-center pt-2 pb-2">
            <mat-icon fontSet="far"
                      fontIcon="{{ element.status.icon }}"
                      [style.color]="element.status.iconColor ? element.status.iconColor : 'black'"
                      *ngIf="element.status.icon"
                      matTooltip="{{element.status.id !== 4 ? element.status.title : element.status.title + ' (' + element.rejectReason.content + ')'}}"
                      [matTooltipPosition]="'left'">
            </mat-icon>
          </mat-cell>
        </ng-container>
        <!-- End: Request status column -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" (click)="selectRequest(row)"></mat-row>
      </mat-table>
    </div>
  </div>

  <!-- Start: Загрузка следующей страницы заявок -->
  <div class="row" *ngIf="!aho.getPagination().isOnTheLastPage()">
    <div class="col-12 d-flex justify-content-center align-items-center pt-3">
      <button mat-stroked-button class="col-12 col-sm-auto pt-2 pb-2 pl-3 pr-3" color="primary" [disabled]="(aho.isFetchingData() | async)" (click)="loadNextPage()">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon class="mr-2">refresh</mat-icon>
          <span>Загрузить еще</span>
        </div>
      </button>
    </div>
  </div>
  <!-- End: Загрузка следующей страницы заявок -->
</div>

<!-- Start: Заглушка, отображающаяся если пользователь не авторизован -->
<div class="container no-padding app-intro content-wrapper h-100 pb-3 d-flex flex-column justify-content-center align-self-center" *ngIf="!auth.getCurrentUser()">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-6 d-flex flex-column justify-content-center align-items-center p-4 text-center pt-3">
      <h4>Добро пожаловать в систему заявок АХО!</h4>
      <h4 class="text-muted">Вы можете подать заявку на следующие услуги:</h4>
    </div>
  </div>

  <div class="row justify-content-center mb-md-1" *ngFor="let requestType of aho.getRequestTypes()">
    <div class="col-12 col-md-7 col-xl-5 d-flex justify-content-start align-items-center pl-4 pr-4 pt-1 pb-1 text-center">
      <span class="icon ml-4 mr-4">
        <i class="fa {{ requestType.icon }}"></i>
      </span>
      <span class="d-flex justify-content-start text-left"><h5>{{ requestType.title }}</h5></span>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-6 d-flex flex-row justify-content-center align-items-center p-4 text-muted text-center">
      <div>Для того, чтобы подать заявку на требующуюся Вам услугу, необходимо <span class="link" (click)="openAuthDialog()">авторизоваться</span> в системе, используя Вашу учетную запись Windows.</div>
    </div>
  </div>
</div>
<!-- End: Заглушка, отображающаяся если пользователь не авторизован -->

<!-- Start: Заглушка, отображающаяся если пользователь еще не подавал заявок -->
<div class="container content-wrapper app-intro h-100 pb-3 d-flex flex-column justify-content-center text-center align-self-center"
     *ngIf="(aho.getOwnRequestsCount() | async) === 0 && (aho.getEmployeeRequestsCount_() | async) === 0 && (aho.getExpiredRequestsCount_() | async) === 0 && !aho.search && !(aho.isFetchingData() | async)">
  <div class="row">
    <div class="col">
      <h4 class="text-muted mb-3">Вы пока еще не подавали заявок</h4>
    </div>
  </div>
</div>
<!-- End: Заглушка, отображающаяся если пользователь еще не подавал заявок -->

<!-- Start: Заглушка, отображающаяся при отсутствии найденных заявок -->
<div class="container content-wrapper app-intro h-100 pb-3 d-flex flex-column justify-content-center text-center align-self-center" *ngIf="aho.getRequests().length === 0 && aho.search && !aho.isSearchingRequests()">
  <div class="row">
    <div class="col">
      <h4 class="text-muted mb-3">По вашему запросу заявки не найдены</h4>
    </div>
  </div>
</div>
<!-- End: Заглушка, отображающаяся при отсутствии найденных заявок -->


<button mat-fab
        [color]="'primary'"
        id="add-request-button"
        (click)="openNewRequestDialog()"
        *ngIf="auth.getCurrentUser()"
        matTooltip="Подать заявку"
        matTooltipPosition="left">
  <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
</button>
