@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './components/dialogs';
@import './components/reports-tabs';
@import '../../control-panel-app/styles/components/component-title';
@import '../../control-panel-app/styles/components/section';

@app-background-color: #cfd8dc;

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: @app-background-color;
}

.mat-toolbar {
  font-family: "Segoe UI Light";
}

input, button {
  outline: none !important;
}
