<h2 mat-dialog-title>Новая заявка</h2>
<mat-dialog-content>
  <form [formGroup]="newRequestForm">

    <mat-form-field class="w-100">
      <mat-select placeholder="Тип заявки"
                  [(value)]="newRequest.requestTypeId">
        <mat-option *ngFor="let requestType of ahoRequestsService.getRequestTypes()"
                    [value]="requestType.id">
          {{ requestType.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input type="text" matInput
             placeholder="Введите № кабинета"
             formControlName="room"
             [(ngModel)]="newRequest.room"
             required>
      <mat-error *ngIf="newRequestForm.get('room').invalid">{{ getRoomErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 pt-2">
      <textarea matInput
                placeholder="Комментарий к заявке"
                formControlName="comment"
                [(ngModel)]="newRequest.comment"
                matTextareaAutosize
                matAutosizeMinRows="1"
                matAutosizeMaxRows="5"
                required>
      </textarea>
      <mat-error *ngIf="newRequestForm.get('room').invalid">{{ getCommentErrorMessage() }}</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions class="pt-3 justify-content-center flex-nowrap">
  <button mat-raised-button mat-dialog-close [color]="'warn'" class="col-6 col-md-4">Отмена</button>
  <button mat-raised-button type="submit" [color]="'primary'" [disabled]="newRequestForm.invalid" class="col-6 col-md-4" (click)="addRequest()">Подать заявку</button>
</mat-dialog-actions>
