@dialog-title-font-weight: 600;
@dialog-title-font-color: #546E7A;
@dialog-actions-background-color: #eceff1;

.control-panel-dialog {
  .mat-dialog-title {
    font-family: "Segoe UI Light";
    font-weight: @dialog-title-font-weight;
    color: @dialog-title-font-color;
    margin-bottom: 30px;

    h4 {
      font-family: "Segoe UI Light" !important;
    }
  }

  .mat-dialog-actions {
    // margin-top: 30px;
    // margin-left: -38px;
    // margin-right: -38px;
    // background: @dialog-actions-background-color;
  }
}
