@section-title-primary-label-font-size: 16px;
@section-title-primary-label-font-weight: bolder;
@section-title-primary-label-font-color: #546E7A;
@section-title-secondary-label-font-size: 0.9rem;
@section-title-secondary-label-font-weight: 300;
@section-title-secondary-label-font-color: #6c757d;



.section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // background: #fafafa;
  border-radius: 4px;

  .section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    min-height: 61px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-family: "Segoe UI Light";
    line-height: 1.1;
    border-bottom: 1px solid #eeeeee;

    .section-title-label {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .primary-label {
        font-size: @section-title-primary-label-font-size;
        font-weight: @section-title-primary-label-font-weight;
        color: @section-title-primary-label-font-color;
      }

      .secondary-label {
        font-size: @section-title-secondary-label-font-size;
        font-weight: @section-title-secondary-label-font-weight;
        color: @section-title-secondary-label-font-color;
      }
    }

    .section-title-controls {
      display: flex;
      flex-direction: row;
    }
  }


  .section-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 20px 10px;
  }

  .section-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Segoe UI Light";
    font-size: 20px;
    color: #b0bec5;
  }
}
