<div class="container-fluid content-wrapper pb-3">

  <div class="row pt-1 pt-sm-2 pt-md-3">
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 mb-4">
      <mat-card>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <span class="title"></span>
              <button mat-icon-button color="primary">
                <mat-icon>insert_drive_file</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>

        <mat-table #table [dataSource]="dataSource" class="aho-requests-needs-table">

          <!-- Start: request task content column -->
          <ng-container matColumnDef="content">
            <mat-header-cell *matHeaderCellDef class="content-column"> Наименование </mat-header-cell>
            <mat-cell *matCellDef="let element" class="content-column"> {{ element.content.title }} </mat-cell>
          </ng-container>
          <!-- End: Request id column -->

          <!-- Start: Total column -->
          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef class="total-column"> Количество </mat-header-cell>
            <mat-cell *matCellDef="let element" class="total-column"> {{ element.total + ' ' + (element.content.boxing ? element.content.boxing : 'штук') }} </mat-cell>
          </ng-container>
          <!-- End: Total column -->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" (click)="selectRequest(row)"></mat-row>
        </mat-table>
      </mat-card>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-4 mb-4">
      <mat-card></mat-card>
    </div>
  </div>

</div>
