<div id="application-component" class="h-100 p-2 pb-3">

  <!-- Start: Заголовок компонента -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 component-title">
        <div class="component-title-label">
          <div class="primary-label">{{(applications.selectedApplication())?.title}}</div>
          <div class="secondary-label">{{(applications.selectedApplication())?.description}}</div>
        </div>
        <div class="component-title-controls">
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End: Заголовок компонента -->

  <div class="d-flex w-100 justify-content-center align-items-center mt-5">
    <a class="component-link" routerLink="/applications/{{applications.selectedApplication()?.id}}/roles" routerLinkActive="selected">Права и роли</a>
    <a class="component-link" routerLink="/applications/{{applications.selectedApplication()?.id}}/employees" routerLinkActive="selected">Сотрудники</a>
    <a class="component-link" routerLink="/applications/{{applications.selectedApplication()?.id}}/settings" routerLinkActive="selected">Настройки</a>
  </div>

  <!-- Start: Содержимое компонента -->
  <div class="container-fluid d-flex p-0 mt-5 w-100" style="flex: 1;">
    <router-outlet></router-outlet>
  </div>
</div>
