<div class="new-request">
  <h2 mat-dialog-title>Новая заявка</h2>
  <mat-dialog-content>
    <form [formGroup]="newRequestForm" class="pl-4 pt-4 pr-4">

      <!-- Start: Категория заявки -->
      <mat-form-field class="w-100">
        <mat-select placeholder="Категория заявки"
                    [required]="true"
                    [(value)]="newRequest.type"
                    (selectionChange)="onRequestTypeChange($event)">
          <mat-option *ngFor="let requestType of aho.getRequestTypes()"
                      [value]="requestType">
            {{ requestType.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- End: Категория заявки -->

      <!-- Start: Инициатор заявки -->
      <mat-form-field class="w-100">
        <input type="text"
               matInput
               placeholder="Инициатор заявки (необязательно)"
               formControlName="initiator"
               [(ngModel)]="newRequest.initiator">
      </mat-form-field>
      <!-- End: Инициатор заявки -->

      <!-- Start: # Кабинета -->
      <mat-form-field class="w-100" *ngIf="newRequest.type.id !== 1">
        <input type="text"
               matInput
               placeholder="Введите № кабинета"
               formControlName="room"
               [(ngModel)]="newRequest.room"
               required>
        <mat-error *ngIf="newRequestForm.get('room').invalid">{{ getRoomErrorMessage() }}</mat-error>
      </mat-form-field>
      <!-- End: # Кабинета -->

      <!-- Start: Количество грузчиков -->
      <mat-form-field class="w-100" *ngIf="newRequest.type.id === 10">
        <input type="text"
               matInput
               placeholder="Количество грузчиков (необязательно)"
               formControlName="numberOfLoaders"
               [(ngModel)]="newRequest.numberOfLoaders">
      </mat-form-field>
      <!-- End: Количество грузчиков -->

      <!-- Start: Срок исполнения -->
      <mat-form-field class="w-100" *ngIf="newRequest.type.id === 10 || newRequest.type.id === 3">
        <input
          matInput
          [matDatepicker]="dateExpires"
          [value]="newRequest.dateExpires"
          placeholder="Срок исполнения (необязательно)"
          (dateChange)="changeExpirationDate($event)"
          [min]="now"
          disabled>
        <mat-datepicker-toggle matSuffix [for]="dateExpires"></mat-datepicker-toggle>
        <mat-datepicker #dateExpires disabled="false"></mat-datepicker>
      </mat-form-field>
      <!-- End: Срок исполнения -->

      <!-- Start: Список задач -->
      <div class="mt-2">
          <mat-table [dataSource]="tasksDataSource">

            <!-- Start: Колонка наименования задачи -->
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef class="task-item-title-column pr-3">{{ newRequest.type.listTitle ? newRequest.type.listTitle : 'Перечень задач' }}</mat-header-cell>
              <mat-cell *matCellDef="let task;" class="task-item-title-column pr-3">
                {{ task.content['id'] ? task.content.title : task.content }}
              </mat-cell>
            </ng-container>
            <!-- End: Колонка наименования задачи -->

            <!-- Start: Колонка количественного измерения задачи -->
            <ng-container matColumnDef="count" *ngIf="newRequest.type.isCountable">
              <mat-header-cell *matHeaderCellDef class="task-item-count-column pl-3"> {{ newRequest.type.countTitle ? newRequest.type.countTitle : 'Количество' }} </mat-header-cell>
              <mat-cell *matCellDef="let task;" class="task-item-count-column">
                {{ task.content.boxing ? task.count + ' ' + task.content.boxing : task.count + ' штук' }}
              </mat-cell>
            </ng-container>
            <!-- End: Колонка количественного измерения задачи -->

            <!-- Start: Колонка элементов управления-->
            <ng-container matColumnDef="controls">
              <mat-header-cell *matHeaderCellDef class="task-item-controls-column"></mat-header-cell>
              <mat-cell *matCellDef="let task;" class="task-item-controls-column d-flex justify-content-end">
                <button mat-icon-button
                        type="button"
                        [color]="'primary'"
                        (click)="removeTask(task)">
                  <mat-icon fontSet="fa"
                            fontIcon="fa-trash"
                            matTooltip="Удалить из заявки"
                            [matTooltipPosition]="'above'">
                  </mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <!-- End: Колонка элементов управления -->

            <mat-header-row *matHeaderRowDef="headerColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: headerColumns;" class="added"></mat-row>
          </mat-table>
      </div>
      <!-- End: Список задач -->
    </form>


    <!-- Start: New task form -->
    <form [formGroup]="newTaskForm" class="d-flex flex-row pl-4 pr-4">

      <!-- Start: Task content -->
      <div class="task-item-title-column col pl-0">
        <mat-form-field class="w-100" [floatLabel]="'never'">
          <input type="text"
                 matInput
                 placeholder="{{ newRequest.type.itemTitle ? newRequest.type.itemTitle : 'Введите наименование' }}"
                 formControlName="title"
                 [(ngModel)]="newTask.content"
                 [matAutocomplete]="content"
                 required>
          <mat-autocomplete #content="matAutocomplete" [displayWith]="displayTaskContentTitle">
            <mat-option
              *ngFor="let item of aho.getRequestTasksContent() | taskContentByRequestType : newRequest.type.id | exceptSelectedTasks: newRequest.getTasksContent()"
              [value]="item">
              {{ item.title }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!-- End: Task content -->

      <!-- Start: Task count -->
      <div class="task-item-count-column" *ngIf="newRequest.type.isCountable">
        <mat-form-field class="w-100" [floatLabel]="'never'">
          <input type="number"
                 matInput
                 [min]="1"
                 placeholder="Кол-во"
                 formControlName="count"
                 [(ngModel)]="newTask.count"
                 required>
          <mat-hint align="end">{{ newTask.content && newTask.content.boxing ? newTask.content.boxing : 'штук' }}
          </mat-hint>
        </mat-form-field>
      </div>
      <!-- End: Task count -->

      <div class="task-item-controls-column d-flex align-items-center">
        <button mat-icon-button
                [color]="'primary'"
                [disabled]="newTaskForm.invalid"
                (click)="addTask()">
          <mat-icon fontSet="fa"
                    fontIcon="fa-plus"
                    matTooltip="Добавить к заявке"
                    [matTooltipPosition]="'above'">
          </mat-icon>
        </button>
      </div>
    </form>
    <!-- End: New task form-->

  </mat-dialog-content>
  <mat-dialog-actions class="pt-3">
    <div class="container-fluid p-0">
      <div class="row">

        <!-- End: Кнопка добавления заявки -->
        <div class="col-12 col-md-6">
          <button mat-raised-button
                  type="submit"
                  [color]="'primary'"
                  [disabled]="newRequestForm.invalid ||newRequest.tasks.length === 0 || aho.isAddingRequest()"
                  class="w-100"
                  (click)="addRequest()">
            <div class="d-flex flex-row w-100 align-items-center" *ngIf="aho.isAddingRequest()">
              <mat-progress-spinner
                class="mr-2"
                [diameter]="20"
                [color]="'primary'"
                [mode]="'indeterminate'">
              </mat-progress-spinner>
              Загрузка
            </div>
            <span *ngIf="!aho.isAddingRequest()">Подать заявку</span>
          </button>
        </div>
        <!-- End: Кнопка добавления заявки -->


        <!-- Start: Кнопка отмены -->
        <div class="col-12 col-md-6 pt-2 pt-md-0">
          <button mat-raised-button
                  mat-dialog-close
                  [color]="'warn'"
                  class="w-100">
            Отмена
          </button>
        </div>
        <!-- End: Кнопка отмены -->

      </div>
    </div>

  </mat-dialog-actions>

</div>
